workflow/ALL.json
{
  "name": "workflow6",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tao-hop-dong",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook (FastAPI gọi)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1584,
        112
      ],
      "id": "bbf33dcf-f794-44c3-8ec3-274688ae8138",
      "webhookId": "ebd87cc6-0073-4bdc-9cb7-33a033926153"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json.body;\n\n// Format tiền tệ chuẩn VN\ndata.giaThueFormatted = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(data.giaThue);\ndata.tienCocFormatted = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(data.tienCoc);\n\n// Format ngày tháng hiện tại\nconst today = new Date();\ndata.ngayLap = today.toLocaleDateString('vi-VN');\n\nreturn data;"
      },
      "name": "Xử lý & Format Dữ liệu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        112
      ],
      "id": "52bf25da-964c-43f4-8e85-98504ea31660"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1agi4ZVt9OINuSBRNZ6w4ncANOgd2sQIXRg-PuExhHmU",
          "mode": "id"
        },
        "name": "=Hợp Đồng - {{ $json.hoTen }} - {{ $json.phong }}",
        "options": {}
      },
      "name": "Copy Template HĐ",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1136,
        112
      ],
      "id": "bfed1d4c-bcff-4458-9b76-255e3421eedd",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zaQ6c9UsQoFuBZlm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{HoTen}}",
              "replaceText": "={{ $('Xử lý & Format Dữ liệu').item.json.hoTen }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Phong}}",
              "replaceText": "={{ $('Xử lý & Format Dữ liệu').item.json.phong }}"
            },
            {
              "action": "replaceAll",
              "text": "{{GiaThue}}",
              "replaceText": "={{ $('Xử lý & Format Dữ liệu').item.json.giaThueFormatted }}"
            }
          ]
        }
      },
      "name": "Điền Thông Tin HĐ",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -912,
        112
      ],
      "id": "b73f014c-04e6-408b-8055-5d96f5193bd2",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "8OAQ4nKo6Dv3Div6",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Copy Template HĐ').item.json.id }}/export",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mimeType",
              "value": "application/pdf"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Ép ra file PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -704,
        112
      ],
      "id": "69ed695a-ce7d-4dd7-9b60-609b6014ea1a",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Once07HNrKpGiyy7",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Copy Template HĐ').item.json.name }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "1cef60zvdLf7igFjNF_FPb-ndoYApAKS4",
          "mode": "id"
        },
        "options": {}
      },
      "name": "Lưu PDF lên Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        112
      ],
      "id": "68800fe3-cf8f-4e70-8f83-86a4b41bdd5f",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zaQ6c9UsQoFuBZlm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE contracts \nSET pdf_link = 'https://docs.google.com/document/d/{{ $('Lưu PDF lên Drive').item.json.id }}'\nWHERE phong = '{{ $('Webhook (FastAPI gọi)').item.json.body.phong }}';",
        "options": {}
      },
      "name": "Cập nhật Link PDF vào DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -256,
        112
      ],
      "id": "80fcd53f-f8b7-4159-8be6-de7902bc71f7",
      "credentials": {
        "postgres": {
          "id": "gdPIEZ4d9jgGIKji",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6126814953",
        "text": "=🎉 Đã tạo xong hợp đồng cho khách {{ $('Xử lý & Format Dữ liệu').item.json.hoTen }} (Phòng {{ $('Xử lý & Format Dữ liệu').item.json.phong }}).\nLink HĐ: https://docs.google.com/document/d/{{ $('Copy Template HĐ').item.json.id }}",
        "additionalFields": {}
      },
      "name": "Báo cáo Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        0,
        208
      ],
      "id": "38f736b9-95cc-4a08-959c-9f14b307518d",
      "webhookId": "19173117-1c45-4a26-b1b0-5b0bd09bd5e4",
      "credentials": {
        "telegramApi": {
          "id": "rW3TljNKkhtPAJQS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ban-giao-phong",
        "options": {}
      },
      "name": "Webhook (Bàn giao)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1488,
        528
      ],
      "id": "a60f5c33-8f92-40d7-9713-22117c2f4a6c",
      "webhookId": "b41188e3-77b3-4db0-9cfb-9e4fab5efa9b"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.trangThai }}",
              "value2": "Đã bàn giao"
            }
          ]
        }
      },
      "name": "Kiểm tra Trạng thái",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1264,
        528
      ],
      "id": "23b3738b-d06d-4501-8e55-d141695cc159"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "uploadLink",
              "value": "=http://localhost:3000/nop-cccd?room={{ $json.body.phong }}&token={{ $json.body.khachId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Sinh Link Nộp CCCD (React)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1040,
        416
      ],
      "id": "fe8c67b6-c993-47f9-bae0-208016457068"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook (Bàn giao)').item.json.body.email }}",
        "subject": "🏠 Chào mừng bạn đến với Khu trọ của chúng tôi!",
        "message": "=<p>Chào <b>{{ $('Webhook (Bàn giao)').item.json.body.hoTen }}</b>,</p><p>Phòng <b>{{ $('Webhook (Bàn giao)').item.json.body.phong }}</b> đã được bàn giao.</p><p>Wifi: 12345678</p><p>Vui lòng bấm vào link dưới đây để nộp ảnh CCCD làm tạm trú:</p><a href=\"{{ $json.uploadLink }}\" style=\"padding: 10px; background: #007bff; color: white; text-decoration: none;\">Nộp CCCD Ngay</a>",
        "options": {}
      },
      "name": "Gửi Mail Welcome",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -816,
        416
      ],
      "id": "7cc57394-8e5c-4c50-9ed9-d8379ccad836",
      "webhookId": "501d931c-fcba-4377-9333-6fc8999f259c",
      "credentials": {
        "gmailOAuth2": {
          "id": "PDjIrqCaJnff5pye",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6126814953",
        "text": "=📩 Đã gửi Email chào mừng và yêu cầu nộp CCCD cho phòng {{ $('Webhook (Bàn giao)').item.json.body.phong }}.",
        "additionalFields": {}
      },
      "name": "Telegram Log",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -608,
        416
      ],
      "id": "6ac63299-340c-42f2-94de-c362670b8eb9",
      "webhookId": "2615dd05-9632-4b7b-b5b0-9eef33847e62",
      "credentials": {
        "telegramApi": {
          "id": "rW3TljNKkhtPAJQS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chot-dien-nuoc",
        "options": {}
      },
      "name": "Webhook (Chốt số)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1488,
        768
      ],
      "id": "090bee19-7b16-430f-bb3d-446e6a6c9eee",
      "webhookId": "83ea09ca-2ca6-4d86-a9f2-9b11ce8a98ff"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json.body;\n\n// Sinh mã VietQR động để nhúng vào Email\nconst bankCode = 'MB';\nconst accNumber = '090512404';\nconst accName = 'NGUYEN VAN HUY';\nconst amount = data.tongTien;\nconst content = `ThanhToan_${data.phong}`;\n\ndata.qrCodeUrl = `https://img.vietqr.io/image/${bankCode}-${accNumber}-compact2.png?amount=${amount}&addInfo=${content}&accountName=${accName}`;\n\n// Format tiền in vào PDF\ndata.tongTienDep = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(amount);\n\nreturn data;"
      },
      "name": "Tạo Mã QR & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1264,
        768
      ],
      "id": "55c117e4-7fab-4d8b-928a-b634bedd7ab2"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "ID_TEMPLATE_GIAY_BAO_TIEN",
          "mode": "id"
        },
        "name": "=Hóa Đơn Tháng - Phòng {{ $json.phong }}",
        "options": {}
      },
      "name": "Copy Template Hóa Đơn",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1040,
        768
      ],
      "id": "16048094-0d6d-45d4-be5c-9807e48fc73a",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zaQ6c9UsQoFuBZlm",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{ChiSoDien}}",
              "replaceText": "={{ $('Tạo Mã QR & Format').item.json.soDien }}"
            },
            {
              "action": "replaceAll",
              "text": "{{TongTien}}",
              "replaceText": "={{ $('Tạo Mã QR & Format').item.json.tongTienDep }}"
            }
          ]
        }
      },
      "name": "Điền Số Liệu",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -816,
        768
      ],
      "id": "96958279-1d97-4b36-8b56-4625adf03846",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "8OAQ4nKo6Dv3Div6",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Copy Template Hóa Đơn').item.json.id }}/export",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mimeType",
              "value": "application/pdf"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Tạo PDF Hóa Đơn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -608,
        768
      ],
      "id": "04770607-5ad0-4a7c-b9f0-6052dd671621",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Once07HNrKpGiyy7",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook (Chốt số)').item.json.body.email }}",
        "subject": "=Hóa đơn tiền nhà tháng này - Phòng {{ $('Webhook (Chốt số)').item.json.body.phong }}",
        "message": "=<p>Đính kèm là chi tiết hóa đơn tháng này.</p><p>Bạn vui lòng quét mã QR dưới đây để thanh toán số tiền: <b>{{ $('Tạo Mã QR & Format').item.json.tongTienDep }}</b></p><br><img src=\"{{ $('Tạo Mã QR & Format').item.json.qrCodeUrl }}\" width=\"300\">",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "name": "Gửi Hóa Đơn + QR",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -384,
        768
      ],
      "id": "152ebcd7-9839-4319-a8ee-bfc29fd0dfca",
      "webhookId": "f6ab620d-943b-47d0-a728-82cae93d0c69",
      "credentials": {
        "gmailOAuth2": {
          "id": "PDjIrqCaJnff5pye",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6126814953",
        "text": "=💸 Đã gửi hóa đơn tháng cho phòng {{ $('Webhook (Chốt số)').item.json.body.phong }}. Tổng thu: {{ $('Tạo Mã QR & Format').item.json.tongTienDep }}.",
        "additionalFields": {}
      },
      "name": "Báo cáo Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -160,
        768
      ],
      "id": "347c1c63-4cfc-42c3-9a9a-d889250db275",
      "webhookId": "56283935-c218-430a-a20b-58cd040a3192",
      "credentials": {
        "telegramApi": {
          "id": "rW3TljNKkhtPAJQS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $(\"Chuẩn bị dữ liệu\").item.json.email }}",
        "subject": "Xác nhận thanh toán - Biên lai điện tử",
        "message": "=Kính gửi {{ $(\"Chuẩn bị dữ liệu\").item.json.tenKhach }},\n\nCảm ơn bạn đã thanh toán tiền thuê phòng {{ $(\"Chuẩn bị dữ liệu\").item.json.maPhong }} cho tháng {{ $(\"Chuẩn bị dữ liệu\").item.json.thangThanhToan }}.\n\nSố tiền: {{ $(\"Chuẩn bị dữ liệu\").item.json.soTien }} VNĐ\nTrạng thái: Đã thanh toán\n\nĐây là biên lai điện tử xác nhận giao dịch của bạn.\n\nTrân trọng,\nBan quản lý",
        "options": {}
      },
      "id": "27bb835b-da14-45d9-a1fe-cc1765c403e0",
      "name": "Gửi Email biên lai",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -608,
        1024
      ],
      "webhookId": "bb157193-2da8-4dff-bbf9-13e808b8c758",
      "credentials": {
        "gmailOAuth2": {
          "id": "PDjIrqCaJnff5pye",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "tenKhach",
              "value": "={{ $json.tenKhach || $json.hoVaTen }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "maPhong",
              "value": "={{ $json.maPhong }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "thangThanhToan",
              "value": "={{ $json.thangThanhToan }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "soTien",
              "value": "={{ $json.soTien }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "anhBill",
              "value": "={{ $json.anhBillUrl }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "trangThai",
              "value": "Đã thanh toán",
              "type": "string"
            },
            {
              "id": "cf6862c3-eb04-49e0-a8fd-8aa30e0efc6a",
              "name": "thoiGian",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d85dbf2a-3099-4482-a950-3d33c5ce81e3",
      "name": "Chuẩn bị dữ liệu",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        1024
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json.body || $input.item.json;\nconst files = data.anhChuyenKhoan || [];\nconst fileUrls = Array.isArray(files) ? files.map(f => f.url || f).filter(url => url).join(', ') : files;\n\nreturn {\n  ...data,\n  anhBillUrl: fileUrls\n};"
      },
      "id": "8ac87525-6c40-4a48-9c04-5c184ba2e0e2",
      "name": "Xử lý ảnh bill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1024
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-confirmation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "68e36531-cc0e-4302-aeea-8877dc4ebea0",
      "name": "Webhook nhận dữ liệu từ React",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1504,
        1024
      ],
      "webhookId": "2e280bff-9363-4f58-b687-c0fb536ca58d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__fastapi_backend_url__>/api/payments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenKhach",
              "value": "={{ $json.tenKhach }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "maPhong",
              "value": "={{ $json.maPhong }}"
            },
            {
              "name": "thangThanhToan",
              "value": "={{ $json.thangThanhToan }}"
            },
            {
              "name": "soTien",
              "value": "={{ $json.soTien }}"
            },
            {
              "name": "anhBill",
              "value": "={{ $json.anhBill }}"
            },
            {
              "name": "trangThai",
              "value": "={{ $json.trangThai }}"
            },
            {
              "name": "thoiGian",
              "value": "={{ $json.thoiGian }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1a29b7b-ed4c-4f07-a047-ad1a32032f45",
      "name": "Lưu vào PostgreSQL qua FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        1024
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Xác nhận thanh toán thành công. Email biên lai đã được gửi.\",\n  \"data\": {\n    \"maPhong\": \"={{ $('Chuẩn bị dữ liệu').item.json.maPhong }}\",\n    \"thangThanhToan\": \"={{ $('Chuẩn bị dữ liệu').item.json.thangThanhToan }}\",\n    \"soTien\": \"={{ $('Chuẩn bị dữ liệu').item.json.soTien }}\"\n  }\n}",
        "options": {}
      },
      "id": "bacdb220-3ab3-4847-acfc-c2fb1cea70f5",
      "name": "Trả response cho React",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -384,
        1024
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "acf258ce-9147-4261-9a87-eba51093a8bc",
      "name": "Kiểm tra hàng ngày 8h sáng",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1504,
        1248
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const today = new Date();\nconst endDate = new Date($input.item.json.ngayKetThuc);\nconst diffTime = endDate - today;\nconst daysRemaining = Math.ceil(diffTime / (1000 * 60 * 60 * 24));\n\nreturn {\n  ...$input.item.json,\n  soNgayConLai: daysRemaining,\n  trangThaiHopDong: daysRemaining <= 0 ? \"Hết hạn\" : daysRemaining <= 30 ? \"Sắp hết hạn\" : \"Còn hiệu lực\"\n};"
      },
      "id": "11126a70-6303-4219-8dfb-4089258eab77",
      "name": "Tính số ngày còn lại",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        1248
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.soNgayConLai }}",
              "rightValue": "30",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "64caa93e-3402-4654-bc25-2c9444f98b3a",
      "name": "Kiểm tra còn 30 ngày",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -832,
        1248
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Thông báo hợp đồng sắp hết hạn - Phòng {{ $json.maPhong }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #ff9800;\">⏰ Thông báo hợp đồng sắp hết hạn</h2>\n  <p>Kính gửi <strong>{{ $json.tenKhach }}</strong>,</p>\n  <p>Hợp đồng thuê phòng <strong>{{ $json.maPhong }}</strong> của bạn sắp hết hạn vào ngày <strong style=\"color: #ff9800;\">{{ $json.ngayKetThuc }}</strong> (còn {{ $json.soNgayConLai }} ngày).</p>\n  <div style=\"background: #fff3e0; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n    <p style=\"font-size: 16px; margin-bottom: 15px;\"><strong>Bạn muốn:</strong></p>\n    <div style=\"margin: 10px 0;\">\n      <a href=\"https://botaylun2.app.n8n.cloud/webhook/contract-response?action=renew&contractId={{ $json.id }}\" style=\"display: inline-block; background: #4caf50; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; margin-right: 10px;\">✅ Gia hạn hợp đồng</a>\n    </div>\n    <div style=\"margin: 10px 0;\">\n      <a href=\"https://botaylun2.app.n8n.cloud/webhook/contract-response?action=return&contractId={{ $json.id }}\" style=\"display: inline-block; background: #f44336; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px;\">❌ Trả phòng</a>\n    </div>\n  </div>\n  <p style=\"font-size: 14px; color: #666;\">Vui lòng phản hồi trước ngày <strong>{{ $json.ngayKetThuc }}</strong> để chúng tôi sắp xếp phù hợp.</p>\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #666;\">Trân trọng,<br>Ban quản lý</p>\n</div>",
        "options": {}
      },
      "id": "93d8501d-01ce-4b6b-bb41-fd2b772dab28",
      "name": "Email hỏi ý kiến gia hạn",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -592,
        1248
      ],
      "webhookId": "f476f1a4-dc74-4064-8049-368d6a4cb009",
      "credentials": {
        "gmailOAuth2": {
          "id": "PDjIrqCaJnff5pye",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, ma_phong as \"maPhong\", ten_khach as \"tenKhach\", email, ngay_bat_dau as \"ngayBatDau\", ngay_ket_thuc as \"ngayKetThuc\" FROM hop_dong WHERE ngay_ket_thuc >= CURRENT_DATE AND ngay_ket_thuc <= CURRENT_DATE + INTERVAL '30 days' ORDER BY ngay_ket_thuc ASC",
        "options": {}
      },
      "id": "a22b286c-f4ef-4f62-935f-25ec4c8e6d6f",
      "name": "Lấy danh sách hợp đồng từ DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1280,
        1248
      ],
      "credentials": {
        "postgres": {
          "id": "gdPIEZ4d9jgGIKji",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contract-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8848430c-b077-4c9a-8027-366d461c32bd",
      "name": "Nhận phản hồi từ React",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1504,
        1472
      ],
      "webhookId": "2ba20120-0653-4158-a5b1-e86fdb6acc83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__fastapi_backend_url__>/api/contracts/update-decision",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contractId\": \"={{ $json.query.contractId }}\",\n  \"action\": \"={{ $json.query.action }}\",\n  \"timestamp\": \"={{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "92a611fc-2c9f-4c25-9598-03173a2cd2b0",
      "name": "Cập nhật quyết định qua FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1280,
        1472
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Cảm ơn bạn đã phản hồi. Chúng tôi sẽ xử lý yêu cầu của bạn.\",\n  \"contractId\": \"={{ $json.query.contractId }}\",\n  \"action\": \"={{ $json.query.action }}\"\n}",
        "options": {}
      },
      "id": "d9c5ebc6-95f6-419d-bb50-5c9d59daaf9a",
      "name": "Trả response cho React1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1056,
        1472
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "tenKhach",
              "value": "={{ $json.body['Họ và tên'] }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "={{ $json.body.Email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "maPhong",
              "value": "={{ $json.body['Mã phòng'] }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "loaiSuCo",
              "value": "={{ $json.body['Loại sự cố'] }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "mucDoKhanCap",
              "value": "={{ $json.body['Mức độ khẩn cấp'] }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "moTa",
              "value": "={{ $json.body['Mô tả chi tiết'] }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "ngayBaoCao",
              "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "64dabf50-c625-41e0-89a5-5ca9c888a302",
      "name": "Chuẩn bị dữ liệu sự cố",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1312,
        1840
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.mucDoKhanCap }}",
              "rightValue": "Khẩn cấp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4f1e4820-467c-46a4-bd9c-7acda8327983",
      "name": "Kiểm tra mức độ khẩn cấp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -912,
        1840
      ]
    },
    {
      "parameters": {
        "chatId": "6126814953",
        "text": "=🚨 SỰ CỐ KHẨN CẤP!\n\nPhòng: {{ $json.maPhong }}\nKhách: {{ $json.tenKhach }}\nEmail khách hàng: {{ $json.email }}\nLoại sự cố: {{ $json.loaiSuCo }}\nMô tả: {{ $json.moTa }}\nThời gian: {{ $json.ngayBaoCao }}\n\n\nVui lòng xử lý ngay!",
        "additionalFields": {}
      },
      "id": "527cbaf3-2484-4295-bce4-269b72c237be",
      "name": "Thông báo Telegram khẩn cấp",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -384,
        1648
      ],
      "webhookId": "450a4620-13c5-45f2-a5ff-ab6b86dbedba",
      "credentials": {
        "telegramApi": {
          "id": "rW3TljNKkhtPAJQS",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Xác nhận tiếp nhận sự cố - Phòng {{ $json.maPhong }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #d32f2f;\">🚨 Sự cố khẩn cấp đã được ghi nhận</h2>\n  <p>Kính gửi <strong>{{ $json.tenKhach }}</strong>,</p>\n  <p>Chúng tôi đã nhận được báo cáo sự cố <strong>KHẨN CẤP</strong> từ phòng <strong>{{ $json.maPhong }}</strong>.</p>\n  <div style=\"background: #ffebee; padding: 15px; border-left: 4px solid #d32f2f; margin: 20px 0;\">\n    <p><strong>Loại sự cố:</strong> {{ $json.loaiSuCo }}</p>\n    <p><strong>Mô tả:</strong> {{ $json.moTa }}</p>\n  </div>\n  <p style=\"color: #d32f2f; font-weight: bold;\">⚡ Thợ sửa chữa sẽ đến trong vòng 2-4 giờ tới.</p>\n  <p>Xin cảm ơn sự thông báo kịp thời của bạn!</p>\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #666;\">Trân trọng,<br>Ban quản lý</p>\n</div>",
        "options": {}
      },
      "id": "cda813b7-1b44-4754-b2c3-9bd956fcd824",
      "name": "Email phản hồi khách hàng",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -592,
        1648
      ],
      "webhookId": "ce3cfbba-a3a5-4c7b-b6a6-00d60fcc7057",
      "credentials": {
        "gmailOAuth2": {
          "id": "PDjIrqCaJnff5pye",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Xác nhận tiếp nhận sự cố - Phòng {{ $json.maPhong }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #1976d2;\">✅ Đã ghi nhận sự cố</h2>\n  <p>Kính gửi <strong>{{ $json.tenKhach }}</strong>,</p>\n  <p>Chúng tôi đã nhận được báo cáo sự cố từ phòng <strong>{{ $json.maPhong }}</strong>.</p>\n  <div style=\"background: #e3f2fd; padding: 15px; border-left: 4px solid #1976d2; margin: 20px 0;\">\n    <p><strong>Loại sự cố:</strong> {{ $json.loaiSuCo }}</p>\n    <p><strong>Mô tả:</strong> {{ $json.moTa }}</p>\n  </div>\n  <p>🔧 Thợ sửa chữa sẽ liên hệ và đến trong vòng <strong>24 giờ tới</strong>.</p>\n  <p>Cảm ơn bạn đã thông báo!</p>\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #666;\">Trân trọng,<br>Ban quản lý</p>\n</div>",
        "options": {}
      },
      "id": "b4df6bd2-6adb-44c0-8c0d-f0a8b0dab09b",
      "name": "Email phản hồi bình thường",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -592,
        2016
      ],
      "webhookId": "1f04fb70-2d7f-424f-aef3-7e034886ee7b",
      "credentials": {
        "gmailOAuth2": {
          "id": "PDjIrqCaJnff5pye",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bao-cao-su-co",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "fa3267ae-f892-477b-bf69-06029a8e8c64",
      "name": "Nhận báo cáo từ React",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1504,
        1840
      ],
      "webhookId": "d7351124-7734-4f74-82e2-eb8c421cfaea"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "incidents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenKhach": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.tenKhach }}",
            "email": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.email }}",
            "maPhong": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.maPhong }}",
            "loaiSuCo": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.loaiSuCo }}",
            "mucDoKhanCap": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.mucDoKhanCap }}",
            "moTa": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.moTa }}",
            "ngayBaoCao": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.ngayBaoCao }}"
          }
        },
        "options": {}
      },
      "id": "97d7d90e-261f-464a-b235-f144fc86b538",
      "name": "Lưu vào PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1120,
        1840
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Đã ghi nhận sự cố thành công\",\n  \"incidentId\": \"={{ $('Lưu vào PostgreSQL').item.json.id }}\"\n}",
        "options": {}
      },
      "id": "32aa4686-48e3-4189-aa0f-b0030a726149",
      "name": "Trả response về React",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        1856
      ]
    },
    {
      "parameters": {},
      "id": "c8b38185-383e-48a2-840c-7a21c4b04c94",
      "name": "Gộp kết quả email",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        1856
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Tạo hợp đồng và lưu Database thành công!\",\n  \"pdf_link\": \"https://docs.google.com/document/d/{{ $('Copy Template HĐ').item.json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -16,
        16
      ],
      "id": "0f134ab6-047d-4ce4-ab59-6f0aff8c3b1f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (FastAPI gọi)": {
      "main": [
        [
          {
            "node": "Xử lý & Format Dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xử lý & Format Dữ liệu": {
      "main": [
        [
          {
            "node": "Copy Template HĐ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Template HĐ": {
      "main": [
        [
          {
            "node": "Điền Thông Tin HĐ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Điền Thông Tin HĐ": {
      "main": [
        [
          {
            "node": "Ép ra file PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ép ra file PDF": {
      "main": [
        [
          {
            "node": "Lưu PDF lên Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lưu PDF lên Drive": {
      "main": [
        [
          {
            "node": "Cập nhật Link PDF vào DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập nhật Link PDF vào DB": {
      "main": [
        [
          {
            "node": "Báo cáo Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Bàn giao)": {
      "main": [
        [
          {
            "node": "Kiểm tra Trạng thái",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra Trạng thái": {
      "main": [
        [
          {
            "node": "Sinh Link Nộp CCCD (React)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sinh Link Nộp CCCD (React)": {
      "main": [
        [
          {
            "node": "Gửi Mail Welcome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Mail Welcome": {
      "main": [
        [
          {
            "node": "Telegram Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Chốt số)": {
      "main": [
        [
          {
            "node": "Tạo Mã QR & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo Mã QR & Format": {
      "main": [
        [
          {
            "node": "Copy Template Hóa Đơn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy Template Hóa Đơn": {
      "main": [
        [
          {
            "node": "Điền Số Liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Điền Số Liệu": {
      "main": [
        [
          {
            "node": "Tạo PDF Hóa Đơn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo PDF Hóa Đơn": {
      "main": [
        [
          {
            "node": "Gửi Hóa Đơn + QR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Hóa Đơn + QR": {
      "main": [
        [
          {
            "node": "Báo cáo Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chuẩn bị dữ liệu": {
      "main": [
        [
          {
            "node": "Lưu vào PostgreSQL qua FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xử lý ảnh bill": {
      "main": [
        [
          {
            "node": "Chuẩn bị dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook nhận dữ liệu từ React": {
      "main": [
        [
          {
            "node": "Xử lý ảnh bill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lưu vào PostgreSQL qua FastAPI": {
      "main": [
        [
          {
            "node": "Gửi Email biên lai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Email biên lai": {
      "main": [
        [
          {
            "node": "Trả response cho React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra hàng ngày 8h sáng": {
      "main": [
        [
          {
            "node": "Lấy danh sách hợp đồng từ DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tính số ngày còn lại": {
      "main": [
        [
          {
            "node": "Kiểm tra còn 30 ngày",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra còn 30 ngày": {
      "main": [
        [
          {
            "node": "Email hỏi ý kiến gia hạn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy danh sách hợp đồng từ DB": {
      "main": [
        [
          {
            "node": "Tính số ngày còn lại",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nhận phản hồi từ React": {
      "main": [
        [
          {
            "node": "Cập nhật quyết định qua FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập nhật quyết định qua FastAPI": {
      "main": [
        [
          {
            "node": "Trả response cho React1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chuẩn bị dữ liệu sự cố": {
      "main": [
        [
          {
            "node": "Lưu vào PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra mức độ khẩn cấp": {
      "main": [
        [
          {
            "node": "Email phản hồi khách hàng",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email phản hồi bình thường",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email phản hồi khách hàng": {
      "main": [
        [
          {
            "node": "Thông báo Telegram khẩn cấp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email phản hồi bình thường": {
      "main": [
        [
          {
            "node": "Gộp kết quả email",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Nhận báo cáo từ React": {
      "main": [
        [
          {
            "node": "Chuẩn bị dữ liệu sự cố",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lưu vào PostgreSQL": {
      "main": [
        [
          {
            "node": "Kiểm tra mức độ khẩn cấp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thông báo Telegram khẩn cấp": {
      "main": [
        [
          {
            "node": "Gộp kết quả email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gộp kết quả email": {
      "main": [
        [
          {
            "node": "Trả response về React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "28d7aac4-cdc2-4a00-9215-85fd79614b96",
  "meta": {
    "instanceId": "dfa6f32f7e29f69da13f212b0e5069899ff013939265af23f1b4897a0412c5a4"
  },
  "id": "U2X1WOkPR4jiIqLE",
  "tags": []
}