workflow/CLM workflow 3.json
{
  "name": "CLM workflow 3",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Hóa đơn tiền nhà P.{{ $json.phong }} - Tháng {{ new Date().getMonth() + 1 }}",
        "message": "=<div style='font-family:Arial,sans-serif; max-width:600px; border:1px solid #e2e8f0; border-radius:12px; overflow:hidden;'>\n  <div style='background:#1e40af; padding:20px; color:white; text-align:center;'>\n    <h2 style='margin:0;'>HÓA ĐƠN TIỀN NHÀ P.{{ $json.phong }}</h2>\n  </div>\n  \n  <div style='padding:24px; background:#f8fafc;'>\n    <p>Xin chào <strong>{{ $json.hoTen }}</strong>,</p>\n    \n    <p>Ban quản lý gửi bạn thông báo thanh toán cho kỳ này, bao gồm:</p>\n    <ul style='color:#334155;'>\n      <li><b>Tiền nhà:</b> Tháng sau (trả trước)</li>\n      <li><b>Điện & Nước:</b> Chỉ số tháng vừa qua (trả sau)</li>\n    </ul>\n\n    <div style='background:white; border:2px dashed #1e40af; padding:15px; text-align:center; margin:20px 0;'>\n      <span style='font-size:14px; color:#64748b;'>TỔNG SỐ TIỀN CẦN THANH TOÁN</span><br>\n      <b style='font-size:24px; color:#dc2626;'>{{ $json.val_tong }} đ</b>\n    </div>\n\n    <p style='font-size:13px; color:#64748b; font-style:italic;'>* Chi tiết chỉ số điện nước và các khoản phí dịch vụ, vui lòng xem trong file PDF đính kèm.</p>\n    \n    <hr style='border:0; border-top:1px solid #e2e8f0; margin:20px 0;'>\n    <p style='color:#1e40af; font-weight:bold; margin:0;'>Trân trọng,<br>Ban Quản Lý CLM</p>\n  </div>\n</div>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "a474d497-5779-4f44-88a3-bbe31fe69589",
      "name": "Gửi Mail Hóa Đơn",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        816,
        1456
      ],
      "webhookId": "15a0314b-bcfa-40b4-96c2-f2ffea76da59",
      "credentials": {
        "gmailOAuth2": {
          "id": "GDkRrIaMd4vssTbO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 25 * *"
            }
          ]
        }
      },
      "id": "252c2082-a803-42ae-9c9d-7a720011c2c8",
      "name": "Lịch ngày 25",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        1360
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3d0fcd8e-cc86-4810-bc94-d92a71de916a",
      "name": "1. Cài đặt Đơn giá",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -288,
        1264
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Hàm lấy dữ liệu cực mạnh (Tìm mọi ngõ ngách)\nconst getInput = () => {\n  const raw = $input.item.json;\n  return raw.body?.body || raw.body || raw;\n};\n\n// 2. Lấy cấu hình giá (Đảm bảo lấy đúng từ node Cài đặt)\nconst getConfig = () => {\n  try {\n    return $node[\"1. Cài đặt Đơn giá\"].json;\n  } catch (e) {\n    return { gia_dien: 3500, gia_nuoc_khoan: 100000, phi_dv: 50000 };\n  }\n};\n\nconst d = getInput();\nconst config = getConfig();\n\n// 3. Ép kiểu về số (Number) để tránh lỗi NaN\nconst dienCu = Number(d.chiSoDienCu || 0);\nconst dienMoi = Number(d.chiSoDienMoi || 0);\nconst giaDien = Number(config.gia_dien || 3500);\nconst tienPhong = Number(d.tienPhong || d.tongTien || 0); // Ưu tiên tiền phòng riêng, nếu ko lấy tổng\nconst giaNuocDV = Number(config.gia_nuoc_khoan || 0) + Number(config.phi_dv || 0);\n\n// 4. Tính toán chi tiết\nconst val_dien = (dienMoi - dienCu) * giaDien;\nconst val_tong = tienPhong + val_dien + giaNuocDV;\n\n// 5. Định dạng tiền tệ VNĐ\nconst fmt = (v) => new Intl.NumberFormat('vi-VN').format(v) + ' đ';\n\n// 6. Trả về kết quả (Full Option)\nreturn {\n  json: {\n    ...d,\n    // Số thô để lưu Database (Node 6)\n    val_dien,\n    val_tong,\n    val_nuoc_dv: giaNuocDV,\n    val_phong: tienPhong,\n    // Link QR\n    qrUrl: `https://img.vietqr.io/image/MB-0905881525-compact2.png?amount=${val_tong}&addInfo=ThanhToan_P${d.phong}&accountName=HUYNH%20NGOC%20HUY`,\n    // Chữ để hiện lên PDF (Node 3)\n    txt_phong: fmt(tienPhong),\n    txt_dien: fmt(val_dien),\n    txt_nuoc_dv: fmt(giaNuocDV),\n    txt_tong: fmt(val_tong),\n    dien_tieu_thu: dienMoi - dienCu\n  }\n};"
      },
      "id": "9263117f-fa6c-44d5-87eb-865788499c60",
      "name": "2. Tính Toán & VietQR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        1264
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.item.json;\nconst today = new Date();\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<style>\n  body { font-family: \"Arial\", sans-serif; line-height: 1.6; color: #333; }\n  .header { border-bottom: 2px solid #1e40af; padding-bottom: 10px; margin-bottom: 20px; }\n  table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n  th, td { padding: 12px; text-align: left; border-bottom: 1px solid #eee; }\n  th { background-color: #f8fafc; color: #1e40af; }\n  .total-row { font-size: 20px; font-weight: bold; color: #dc2626; text-align: right; margin-top: 20px; }\n</style>\n</head>\n<body>\n  <div class=\"header\">\n    <p style=\"float: right;\">Ngày lập: ${today.getDate()}/${today.getMonth()+1}/${today.getFullYear()}</p>\n    <h2 style=\"color: #1e40af; margin: 0;\">HÓA ĐƠN TIỀN NHÀ - P.${d.phong}</h2>\n  </div>\n\n  <p><b>Khách hàng:</b> ${d.hoTen || 'Quý khách'}</p>\n\n  <table style=\"width:100%; border-collapse: collapse;\">\n  <thead>\n    <tr style=\"background-color: #f1f5f9;\">\n      <th style=\"padding:10px; border:1px solid #ddd;\">Hạng mục</th>\n      <th style=\"padding:10px; border:1px solid #ddd;\">Chỉ số / Số lượng</th>\n      <th style=\"padding:10px; border:1px solid #ddd;\">Thành tiền</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td style=\"padding:10px; border:1px solid #ddd;\">Tiền phòng</td>\n      <td style=\"padding:10px; border:1px solid #ddd; text-align:center;\">1 tháng</td>\n      <td style=\"padding:10px; border:1px solid #ddd; text-align:right;\"><b>${d.txt_phong}</b></td>\n    </tr>\n    <tr>\n      <td style=\"padding:10px; border:1px solid #ddd;\">Tiền điện</td>\n      <td style=\"padding:10px; border:1px solid #ddd; text-align:center;\">${d.chiSoDienCu} ➔ ${d.chiSoDienMoi}</td>\n      <td style=\"padding:10px; border:1px solid #ddd; text-align:right;\"><b>${d.txt_dien}</b></td>\n    </tr>\n    <tr>\n      <td style=\"padding:10px; border:1px solid #ddd;\">Nước & Dịch vụ</td>\n      <td style=\"padding:10px; border:1px solid #ddd; text-align:center;\">Khoán</td>\n      <td style=\"padding:10px; border:1px solid #ddd; text-align:right;\"><b>${d.txt_nuoc_dv}</b></td>\n    </tr>\n  </tbody>\n</table>\n\n<div style=\"text-align:right; margin-top:20px; font-size:20px;\">\n  <span style=\"color:#64748b;\">TỔNG THANH TOÁN:</span> <b style=\"color:#dc2626;\">${d.txt_tong}</b>\n</div>\n\n  <div style=\"text-align: center; margin-top: 30px;\">\n    <p><i>Vui lòng quét mã QR bên dưới để thanh toán</i></p>\n    <img src=\"${d.qrUrl}\" width=\"220\" style=\"border: 1px solid #ddd; padding: 10px; border-radius: 8px;\">\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: d,\n  binary: {\n    indexHtml: await this.helpers.prepareBinaryData(Buffer.from(html), 'index.html', 'text/html')\n  }\n};"
      },
      "id": "5962396f-369d-4858-9a12-33dd8892f718",
      "name": "3. Dàn trang HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        1264
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "indexHtml"
            }
          ]
        },
        "options": {}
      },
      "id": "b20af2d2-1e0f-41d0-b55b-6a65249c45fe",
      "name": "4. Gotenberg (PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        368,
        1264
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fileBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst pdfBase64 = fileBuffer.toString('base64');\nconst info = $node[\"2. Tính Toán & VietQR\"].json;\n\nreturn {\n  json: { ...info, pdfBase64 },\n  binary: { data: await this.helpers.prepareBinaryData(fileBuffer, `HoaDon_P${info.phong}.pdf`, 'application/pdf') }\n};"
      },
      "id": "1ef57f0e-ecd0-414c-ab9b-4cb2798c92e1",
      "name": "5. Đóng gói PDF & Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        1264
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/bills/save",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phong",
              "value": "={{ $json.phong }}"
            },
            {
              "name": "tong_tien",
              "value": "={{ $json.val_tong }}"
            },
            {
              "name": "pdf_base64",
              "value": "={{ $json.pdfBase64 }}"
            },
            {
              "name": "qr_url",
              "value": "={{ $json.qrUrl }}"
            },
            {
              "name": "thang_nam",
              "value": "={{ $json.thangNam }}"
            },
            {
              "name": "chi_so_dien_moi",
              "value": "={{ $json.chiSoDienMoi }}"
            },
            {
              "name": "chi_so_dien_cu",
              "value": "={{ $json.chiSoDienCu }}"
            },
            {
              "name": "thang_nam",
              "value": "={{ $json.thangNam }}"
            },
            {
              "name": "chi_so_nuoc_cu",
              "value": "={{ $json.chiSoNuocCu }}"
            },
            {
              "name": "chi_so_nuoc_moi",
              "value": "={{ $json.chiSoNuocMoi }}"
            }
          ]
        },
        "options": {}
      },
      "id": "72374ff8-bd5d-43b3-a5a0-5fa129300635",
      "name": "6. Lưu Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        816,
        1264
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "6126814953",
        "binaryData": true,
        "additionalFields": {
          "caption": "=🚀 [BÁO CÁO HÓA ĐƠN] 🏠 Phòng: {{ $json.phong }} 👤 Khách hàng: {{ $json.hoTen }} 💸 Tổng thanh toán: {{ $json.tong_cong_fmt }} đ  ✅ Trạng thái: - Đã gửi Email hóa đơn cho khách. - Đã lưu thông tin & Base64 vào Database. - QR thanh toán: {{ $json.qrUrl }}"
        }
      },
      "id": "ee7d5f8c-e543-44e6-b0d3-8ef89f88ec18",
      "name": "7. Tele: Báo cáo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        816,
        1104
      ],
      "webhookId": "d7a184a3-7d70-418f-bfbb-c6d2861f76a4",
      "credentials": {
        "telegramApi": {
          "id": "xJ5hM6BFpWwN99k8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chot-dien-nuoc",
        "options": {}
      },
      "id": "067374eb-297a-481f-855c-ca347f580558",
      "name": "Webhook (Chốt tay)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -528,
        1168
      ],
      "webhookId": "33b34c2a-6f84-4498-b83f-a215166d7794"
    }
  ],
  "pinData": {},
  "connections": {
    "Lịch ngày 25": {
      "main": [
        [
          {
            "node": "1. Cài đặt Đơn giá",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Cài đặt Đơn giá": {
      "main": [
        [
          {
            "node": "2. Tính Toán & VietQR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Tính Toán & VietQR": {
      "main": [
        [
          {
            "node": "3. Dàn trang HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Dàn trang HTML": {
      "main": [
        [
          {
            "node": "4. Gotenberg (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Gotenberg (PDF)": {
      "main": [
        [
          {
            "node": "5. Đóng gói PDF & Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Đóng gói PDF & Base64": {
      "main": [
        [
          {
            "node": "6. Lưu Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "7. Tele: Báo cáo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gửi Mail Hóa Đơn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Chốt tay)1": {
      "main": [
        [
          {
            "node": "1. Cài đặt Đơn giá",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c76dd2bb-d9a5-4a7a-88cc-ea1fcfd4f0e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d92e635d9923c5e33aeed71b490c99116d0f169f30a0e3b5c6dbc179b7236fd2"
  },
  "id": "8gY1u4LUK6tzD7uIWLxkU",
  "tags": []
}