workflow/CLM workflow 6 .json
{
  "name": "CLM workflow 6",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "tenKhach",
              "value": "={{ $json.body['Họ và tên'] }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "={{ $json.body.Email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "maPhong",
              "value": "={{ $json.body['Mã phòng'] }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "loaiSuCo",
              "value": "={{ $json.body['Loại sự cố'] }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "mucDoKhanCap",
              "value": "={{ $json.body['Mức độ khẩn cấp'] }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "moTa",
              "value": "={{ $json.body['Mô tả chi tiết'] }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "ngayBaoCao",
              "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            },
            {
              "id": "2001e826-28bf-47c6-a19e-4f80797e0950",
              "name": "room_id",
              "value": "={{ $json.body.room_id }}",
              "type": "number"
            },
            {
              "id": "3bc70511-e1ce-479a-8de5-189d66df838d",
              "name": "tenant_id",
              "value": "={{ $json.body.tenant_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "c029c93e-cf0a-490b-a97e-c89bd8780a8f",
      "name": "Chuẩn bị dữ liệu sự cố",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.mucDoKhanCap }}",
              "rightValue": "Khẩn cấp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "720ccfdb-897d-4dc2-8485-113452bfbc70",
      "name": "Kiểm tra mức độ khẩn cấp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        192
      ]
    },
    {
      "parameters": {
        "chatId": "-1003790123986",
        "text": "=🚨 SỰ CỐ KHẨN CẤP!\n\nPhòng: {{ $('Chuẩn bị dữ liệu sự cố').item.json.maPhong }}\nKhách: {{ $('Chuẩn bị dữ liệu sự cố').item.json.tenKhach }}\nEmail khách hàng: {{ $('Chuẩn bị dữ liệu sự cố').item.json.email }}\nLoại sự cố: {{ $('Chuẩn bị dữ liệu sự cố').item.json.loaiSuCo }}\nMô tả: {{ $('Chuẩn bị dữ liệu sự cố').item.json.moTa }}\nThời gian: {{ $('Chuẩn bị dữ liệu sự cố').item.json.ngayBaoCao }}\n\n\nVui lòng xử lý ngay!",
        "additionalFields": {}
      },
      "id": "4ca90189-c374-402b-ae73-5881603b5a46",
      "name": "Thông báo Telegram khẩn cấp",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "webhookId": "450a4620-13c5-45f2-a5ff-ab6b86dbedba",
      "credentials": {
        "telegramApi": {
          "id": "WsItsjqzaOtovsk8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.email }}",
        "subject": "=Xác nhận tiếp nhận sự cố - Phòng {{ $('Chuẩn bị dữ liệu sự cố').item.json.maPhong }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #d32f2f;\">🚨 Sự cố khẩn cấp đã được ghi nhận</h2>\n  <p>Kính gửi <strong>{{ $('Chuẩn bị dữ liệu sự cố').item.json.tenKhach }}</strong>,</p>\n  <p>Chúng tôi đã nhận được báo cáo sự cố <strong>KHẨN CẤP</strong> từ phòng <strong>{{ $('Chuẩn bị dữ liệu sự cố').item.json.maPhong }}</strong>.</p>\n  <div style=\"background: #ffebee; padding: 15px; border-left: 4px solid #d32f2f; margin: 20px 0;\">\n    <p><strong>Loại sự cố:</strong> {{ $('Chuẩn bị dữ liệu sự cố').item.json.loaiSuCo }}</p>\n    <p><strong>Mô tả:</strong> {{ $('Chuẩn bị dữ liệu sự cố').item.json.moTa }}</p>\n  </div>\n  <p style=\"color: #d32f2f; font-weight: bold;\">⚡ Thợ sửa chữa sẽ đến trong vòng 2-4 giờ tới.</p>\n  <p>Xin cảm ơn sự thông báo kịp thời của bạn!</p>\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #666;\">Trân trọng,<br>Ban quản lý</p>\n</div>",
        "options": {}
      },
      "id": "f9f998e1-488a-4922-896f-8ed699069191",
      "name": "Email phản hồi khách hàng",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "ce3cfbba-a3a5-4c7b-b6a6-00d60fcc7057",
      "credentials": {
        "gmailOAuth2": {
          "id": "mTJHSU28cywH8dgh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.email }}",
        "subject": "=Xác nhận tiếp nhận sự cố - Phòng {{ $('Chuẩn bị dữ liệu sự cố').item.json.maPhong }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #1976d2;\">✅ Đã ghi nhận sự cố</h2>\n  <p>Kính gửi <strong>{{ $('Chuẩn bị dữ liệu sự cố').item.json.tenKhach }}</strong>,</p>\n  <p>Chúng tôi đã nhận được báo cáo sự cố từ phòng <strong>{{ $('Chuẩn bị dữ liệu sự cố').item.json.maPhong }}</strong>.</p>\n  <div style=\"background: #e3f2fd; padding: 15px; border-left: 4px solid #1976d2; margin: 20px 0;\">\n    <p><strong>Loại sự cố:</strong> {{ $('Chuẩn bị dữ liệu sự cố').item.json.loaiSuCo }}</p>\n    <p><strong>Mô tả:</strong> {{ $('Chuẩn bị dữ liệu sự cố').item.json.moTa }}</p>\n  </div>\n  <p>🔧 Thợ sửa chữa sẽ liên hệ và đến trong vòng <strong>24 giờ tới</strong>.</p>\n  <p>Cảm ơn bạn đã thông báo!</p>\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #666;\">Trân trọng,<br>Ban quản lý</p>\n</div>",
        "options": {}
      },
      "id": "0b14ea4e-e21f-45fd-8ac2-9847f01165b5",
      "name": "Email phản hồi bình thường",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        368
      ],
      "webhookId": "1f04fb70-2d7f-424f-aef3-7e034886ee7b",
      "credentials": {
        "gmailOAuth2": {
          "id": "mTJHSU28cywH8dgh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bao-cao-su-co",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d2191c9f-02ed-4a38-b5ac-fdfbf25911ce",
      "name": "Nhận báo cáo từ React",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -912,
        192
      ],
      "webhookId": "d7351124-7734-4f74-82e2-eb8c421cfaea"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "incidents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "room_id": "={{ $json.room_id }}",
            "muc_do_khan_cap": "={{ $json.mucDoKhanCap }}",
            "ngay_bao_cao": "={{ DateTime.fromFormat($json.ngayBaoCao, 'dd/MM/yyyy HH:mm').toSQL() }}",
            "loai_su_co": "={{ $json.loaiSuCo }}",
            "mo_ta": "={{ $json.moTa }}",
            "trang_thai": "Đã tiếp nhận",
            "tenant_id": "={{ $json.tenant_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "room_id",
              "displayName": "room_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tenant_id",
              "displayName": "tenant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "loai_su_co",
              "displayName": "loai_su_co",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "muc_do_khan_cap",
              "displayName": "muc_do_khan_cap",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mo_ta",
              "displayName": "mo_ta",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ngay_bao_cao",
              "displayName": "ngay_bao_cao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "trang_thai",
              "displayName": "trang_thai",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "761c5ad3-457b-4789-acae-6a07bab089c7",
      "name": "Lưu vào PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -528,
        192
      ],
      "credentials": {
        "postgres": {
          "id": "gugqn2WjLpyXPQER",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "id": "ca761dd0-12e4-49d8-9451-ded1db1650b0",
      "name": "Gộp kết quả email",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Đã ghi nhận sự cố thành công\",\n  \"incidentId\": \"={{ $('Lưu vào PostgreSQL').item.json.id }}\"\n}",
        "options": {}
      },
      "id": "abfb27d1-8125-4d1c-b54e-73d89628be3b",
      "name": "Trả response về React",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        752,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chuẩn bị dữ liệu sự cố": {
      "main": [
        [
          {
            "node": "Lưu vào PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra mức độ khẩn cấp": {
      "main": [
        [
          {
            "node": "Email phản hồi khách hàng",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email phản hồi bình thường",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thông báo Telegram khẩn cấp": {
      "main": [
        [
          {
            "node": "Gộp kết quả email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email phản hồi khách hàng": {
      "main": [
        [
          {
            "node": "Thông báo Telegram khẩn cấp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email phản hồi bình thường": {
      "main": [
        [
          {
            "node": "Gộp kết quả email",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Nhận báo cáo từ React": {
      "main": [
        [
          {
            "node": "Chuẩn bị dữ liệu sự cố",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lưu vào PostgreSQL": {
      "main": [
        [
          {
            "node": "Kiểm tra mức độ khẩn cấp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gộp kết quả email": {
      "main": [
        [
          {
            "node": "Trả response về React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3b1f501e-65e4-43e7-9ec0-934549282157",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "720863ba968d3467befcfed31908c25fd114abae469735e26168e96343dbd57d"
  },
  "id": "V9nofFlhBr37mKXi",
  "tags": []
}