workflow/CLM workflow 1.json
{
  "name": "CLM workflow 1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tao-hop-dong",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook (FastAPI gọi)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -3360,
        512
      ],
      "id": "50014d0d-da40-41ae-87e5-d97eee51c65a",
      "webhookId": "ebd87cc6-0073-4bdc-9cb7-33a033926153"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $input.item.json.body;\n\n// Hàm format số tiền thành chuẩn VN\nconst fmt = (n) => {\n    if (!n) return '....................';\n    return new Intl.NumberFormat('vi-VN').format(n);\n};\n\nd.giaThueFormatted = fmt(d.giaThue);\n\n// TÍNH TIỀN & TẠO QR\nconst tienPhaiDong = Number(d.giaThue || 0);\nd.tienPhaiDongFormatted = fmt(tienPhaiDong);\n\n// ƯU TIÊN DÙNG CHUỖI VIETQR ĐỂ QUÉT BẰNG APP NGÂN HÀNG\nif (d.payosQr) {\n    d.qrUrl = `https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=${encodeURIComponent(d.payosQr)}`;\n} else if (d.payosUrl) {\n    d.qrUrl = `https://api.qrserver.com/v1/create-qr-code/?size=250x250&data=${encodeURIComponent(d.payosUrl)}`;\n} else {\n    d.qrUrl = 'https://payos.vn/error';\n}\n\n\n// Lấy ngày tháng năm hiện tại\nconst today = new Date();\nconst day = String(today.getDate()).padStart(2, '0');\nconst month = String(today.getMonth() + 1).padStart(2, '0');\nconst year = today.getFullYear();\n\nd.soThangText = (d.soThang || 12) + ' tháng';\n\n// Khung HTML giữ nguyên format MS Word của ông, chỉ bỏ dòng Tiền cọc\nd.htmlContract = `<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n<meta charset=\"UTF-8\">\n<style>\n  * { box-sizing: border-box; }\n  body { \n    font-family: \"Times New Roman\", Times, serif; \n    font-size: 14pt; \n    line-height: 1.3; \n    margin: 40px; \n    color: #000; \n  }\n  \n  /* Các class tiện ích */\n  .center { text-align: center !important; }\n  .right { text-align: right !important; }\n  .bold { font-weight: bold; }\n  .italic { font-style: italic; }\n  .uppercase { text-transform: uppercase; }\n  .underline { text-decoration: underline; }\n\n  /* FIX LỖI GIÃN CHỮ: Chuyển mặc định về căn trái, chỉ justify đoạn văn dài */\n  .justify-text { text-align: justify; } \n  \n  h1 { font-size: 14pt; margin: 0; padding: 0; }\n  h2 { font-size: 16pt; margin: 20px 0 15px 0; padding: 0; }\n  \n  /* Ép tất cả thẻ p căn trái để không bị kéo giãn chữ */\n  p { margin: 6px 0; text-align: left; } \n\n  .indent { padding-left: 20px; }\n  .indent-more { padding-left: 40px; }\n\n  /* CSS CHO PHẦN CHỮ KÝ */\n  .signatures { display: flex; justify-content: space-between; margin-top: 40px; }\n  .sig-box { width: 45%; text-align: center; }\n  .spacing-bottom { margin-bottom: 10px; }\n  \n  /* STYLE CHỮ KÝ VIẾT TAY (Mực xanh, nghiêng, đổ bóng nhẹ) */\n  .handwritten {\n    font-family: \"Brush Script MT\", \"Lucida Handwriting\", cursive;\n    font-size: 30pt;\n    color: #1e3a8a; \n    display: block;\n    transform: rotate(-4deg);\n    margin: 15px 0;\n    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);\n  }\n  /* STYLE CON DẤU XÁC THỰC (Mực đỏ mộc) */\n  .admin-seal {\n    color: #dc2626;\n    font-size: 10pt;\n    font-weight: bold;\n    border: 2px solid #dc2626;\n    padding: 3px 8px;\n    display: inline-block;\n    border-radius: 4px;\n    transform: rotate(8deg);\n    margin-bottom: -10px;\n  }\n</style>\n</head>\n<body>\n  <div class=\"center\">\n    <h1 class=\"bold uppercase\">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</h1>\n    <p class=\"bold underline center\">Độc lập – Tự do – Hạnh phúc</p>\n  </div>\n\n  <h2 class=\"center bold uppercase\">HỢP ĐỒNG THUÊ PHÒNG TRỌ</h2>\n  <div class=\"indent\">\n    <p>Hôm nay, ngày ${day} tháng ${month} năm ${year}; tại địa chỉ: ..........................</p>\n    <p>Chúng tôi gồm:..........................................................................</p>\n  </div>\n  <p class=\"bold\">1. Đại diện bên cho thuê phòng trọ (Bên A):</p>\n  <div class=\"indent\">\n      <p>Ông/bà: <b>Huỳnh Ngọc Huy</b> <span style=\"float:right\">Sinh ngày: ....................................</span></p>\n      <p>Nơi đăng ký HK:......................................................................................................................</p>\n      <p>CMND/CCCD số: .................................... cấp ngày .......................... tại: ...................................................</p>\n      <p>Số điện thoại: .......................................................................</p>\n  </div>\n\n  <p class=\"bold\" style=\"margin-top: 10px;\">2. Bên thuê phòng trọ (Bên B):</p>\n  <div class=\"indent\">\n      <p>Ông/bà: <b>${d.hoTen || '........................................'}</b> <span style=\"float:right\">Sinh ngày: ${d.ngaySinh || '....................................'}</span></p>\n      <p>Nơi đăng ký HK thường trú: ${d.thuongTru || '...................................................................................................'}</p>\n      <p>Số CMND/CCCD: <b>${d.soCccd || '....................................'}</b> cấp ngày: ${d.ngayCap || '....................'} tại: ${d.noiCap || '....................'}</p>\n      <p>Số điện thoại: <b>${d.sdt || '................................................'}</b></p>\n  </div>\n\n  <div class=\"indent\" style=\"margin-top: 15px;\">\n      <p class=\"justify-text\">Sau khi bàn bạc trên tinh thần dân chủ, hai bên cùng có lợi, cùng thống nhất như sau:</p>\n      <p class=\"justify-text\">Bên A đồng ý cho bên B thuê 01 phòng ở tại địa chỉ: ................................................................................</p>\n      \n      <div class=\"indent\">\n          <p>- Phòng số: <b>${d.phong || '...........'}</b></p>\n          <p>- Giá thuê: <b>${d.giaThueFormatted} đ/tháng</b></p>\n          <p>- Hình thức thanh toán: ....................................................................................................................</p>\n          <p>- Tiền điện: 3.500 đ/kwh tính theo chỉ số công tơ, thanh toán vào cuối các tháng.</p>\n          <p>- Tiền nước: 100.000 đ/người thanh toán vào đầu các tháng.</p>\n          <p>- Thời hạn thuê: <b>${d.soThangText}</b>, bắt đầu tính tiền từ ngày: <b>${d.ngayBatDau || '....................'}</b></p>\n      </div>\n  </div>\n\n  <p class=\"bold uppercase underline\" style=\"margin-top: 20px;\">TRÁCH NHIỆM CỦA CÁC BÊN</p>\n\n  <p class=\"bold\">* Trách nhiệm của bên A:</p>\n  <div class=\"indent\">\n      <p class=\"justify-text\">- Tạo mọi điều kiện thuận lợi để bên B thực hiện theo hợp đồng.</p>\n      <p class=\"justify-text\">- Cung cấp nguồn điện, nước, wifi cho bên B sử dụng.</p>\n  </div>\n\n  <p class=\"bold\" style=\"margin-top: 10px;\">* Trách nhiệm của bên B:</p>\n  <div class=\"indent\">\n      <p class=\"justify-text\">- Thanh toán đầy đủ các khoản tiền theo đúng thỏa thuận.</p>\n      <p class=\"justify-text\">- Bảo quản các trang thiết bị và cơ sở vật chất của bên A trang bị cho ban đầu (làm hỏng phải sửa, mất phải đền).</p>\n      <p class=\"justify-text\">- Không được tự ý sửa chữa, cải tạo cơ sở vật chất khi chưa được sự đồng ý của bên A.</p>\n      <p class=\"justify-text\">- Giữ gìn vệ sinh trong và ngoài khuôn viên của phòng trọ.</p>\n      <p class=\"justify-text\">- Bên B phải chấp hành mọi quy định của pháp luật Nhà nước và quy định của địa phương.</p>\n      <p class=\"justify-text\">- Nếu bên B cho khách ở qua đêm thì phải báo và được sự đồng ý của chủ nhà đồng thời phải chịu trách nhiệm về các hành vi vi phạm pháp luật của khách trong thời gian ở lại.</p>\n  </div>\n\n  <p class=\"bold uppercase underline\" style=\"margin-top: 20px;\">TRÁCH NHIỆM CHUNG</p>\n  <div class=\"indent\">\n      <p class=\"justify-text\">- Hai bên phải tạo điều kiện cho nhau thực hiện hợp đồng.</p>\n      <p class=\"justify-text\">- Trong thời gian hợp đồng còn hiệu lực nếu bên nào vi phạm các điều khoản đã thỏa thuận thì bên còn lại có quyền đơn phương chấm dứt hợp đồng; nếu sự vi phạm hợp đồng đó gây tổn thất cho bên bị vi phạm hợp đồng thì bên vi phạm hợp đồng phải bồi thường thiệt hại.</p>\n      <p class=\"justify-text\">- Một trong hai bên muốn chấm dứt hợp đồng trước thời hạn thì phải báo trước cho bên kia ít nhất 30 ngày và hai bên phải có sự thống nhất.</p>\n      <p class=\"justify-text\">- Bên nào vi phạm điều khoản chung thì phải chịu trách nhiệm trước pháp luật.</p>\n      <p class=\"justify-text\">- Hợp đồng được lập thành 02 bản có giá trị pháp lý như nhau, mỗi bên giữ một bản.</p>\n  </div>\n\n  <div class=\"signatures\">\n      <div class=\"sig-box\">\n          <p class=\"bold center\">ĐẠI DIỆN BÊN B</p>\n          <p class=\"italic spacing-bottom center\">(Ký, ghi rõ họ tên)</p>\n          <span class=\"handwritten\">${d.hoTen || ''}</span>\n          <p class=\"bold center\">${d.hoTen || ''}</p>\n      </div>\n      <div class=\"sig-box\">\n          <p class=\"bold center\">ĐẠI DIỆN BÊN A</p>\n          <p class=\"italic spacing-bottom center\">(Ký, ghi rõ họ tên)</p>\n          <div class=\"center\"><span class=\"admin-seal\">ĐÃ XÁC THỰC</span></div>\n          <span class=\"handwritten\">Huy Huỳnh</span>\n          <p class=\"bold center\">Huỳnh Ngọc Huy</p>\n      </div>\n  </div>\n</body>\n</html>`;\n\nreturn d;"
      },
      "name": "Format & Tạo HTML Hợp Đồng",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3168,
        512
      ],
      "id": "b6e311c0-2f1e-42da-a718-38f1d779fee6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Lấy chuỗi HTML từ Node tạo hợp đồng\nconst htmlContent = $json.htmlContract;\n\n// 2. Ép nó thành Buffer chuẩn của Node.js\nconst buffer = Buffer.from(htmlContent, 'utf-8');\n\n// 3. Đóng gói thành file binary an toàn tuyệt đối bằng hàm prepareBinaryData\nconst binaryData = await this.helpers.prepareBinaryData(\n  buffer, \n  'index.html', \n  'text/html'\n);\n\n// 4. Truyền đi tiếp\nreturn {\n  json: $json,\n  binary: {\n    indexHtml: binaryData\n  }\n};"
      },
      "name": "HTML String → Binary File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2976,
        512
      ],
      "id": "7d6dbbd2-4de0-47ba-a944-2b82d1f3f13d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "indexHtml"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Gotenberg: HTML → PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2752,
        512
      ],
      "id": "d5c79218-9f18-49c9-b00e-d6d7be7fcbd6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Chỉ định ĐÍCH DANH tên gói hàng mà Gotenberg trả về (mặc định là 'data')\nconst binaryKey = 'data';\n\n// Kiểm tra xem Gotenberg có thực sự nhả file vào đây chưa\nif (!$input.item.binary || !$input.item.binary[binaryKey]) {\n  throw new Error(\"Gotenberg chưa trả file về biến 'data'. Hãy kiểm tra Node Gotenberg (Response Format phải là File).\");\n}\n\n// 2. Lấy bộ đệm (Buffer) của ĐÚNG file PDF đó\nconst pdfBuffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n\n// 3. Kiểm tra chéo xem có phải PDF xịn không\nconst pdfBase64 = pdfBuffer.toString('base64');\nif (!pdfBase64.startsWith('JVBERi0')) {\n    const errorText = pdfBuffer.toString('utf-8');\n    throw new Error(\"Lỗi bốc nhầm file hoặc file hỏng: \" + errorText.substring(0, 100));\n}\n\n// 4. Lấy lại thông tin khách hàng từ Node tạo hợp đồng\nconst prevData = $('Format & Tạo HTML Hợp Đồng').item.json;\n\n// 5. Đóng gói file PDF hoàn hảo\nconst fileName = `Hop_Dong_Phong_${prevData.phong || 'X'}.pdf`;\nconst cleanPdfBinary = await this.helpers.prepareBinaryData(\n  pdfBuffer, \n  fileName, \n  'application/pdf'\n);\n\n// 6. Xóa bỏ file HTML cũ đi cho nhẹ máy, chỉ truyền PDF đi tiếp\nreturn {\n  json: {\n    ...prevData,\n    pdfBase64: pdfBase64\n  },\n  binary: {\n    data: cleanPdfBinary\n  }\n};"
      },
      "name": "Lấy PDF Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        512
      ],
      "id": "d3e429d7-fa8a-4abd-8d86-d897fccc7385"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/contracts/save-pdf",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contract_id",
              "value": "={{ $json.contractId }}"
            },
            {
              "name": "pdf_base64",
              "value": "={{ $json.pdfBase64 }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Lưu PDF vào Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -2352,
        512
      ],
      "id": "d084da1e-f18f-4766-afc3-6865b6fbb1c3"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format & Tạo HTML Hợp Đồng').item.json.email }}",
        "subject": "=🎉 Hợp đồng thuê phòng {{ $('Format & Tạo HTML Hợp Đồng').item.json.phong }} ",
        "message": "=<div style='font-family:Arial,sans-serif;max-width:600px'>\n  <div style='background:#1e40af;padding:24px;border-radius:12px 12px 0 0'>\n    <h2 style='color:white;margin:0'>🏠 Hợp đồng thuê phòng P.{{ $json.phong }}</h2>\n  </div>\n  <div style='background:#f8fafc;padding:24px;border-radius:0 0 12px 12px;border:1px solid #e2e8f0'>\n    <p>Xin chào <strong>{{ $json.hoTen }}</strong>,</p>\n    <p>Yêu cầu thuê phòng của bạn đã được duyệt. Vui lòng kiểm tra <b>File PDF hợp đồng điện tử đính kèm</b> (đã có chữ ký của chủ nhà).</p>\n    \n    <div style='background:white;border:1px solid #e2e8f0;border-radius:8px;padding:16px;margin:16px 0;text-align:center;'>\n      <b style='color:#dc2626;font-size:18px;'>THANH TOÁN ĐỂ HOÀN TẤT NHẬN PHÒNG</b><br>\n      <p>Tổng tiền cần đóng (Tháng đầu tiên): <b style='font-size:20px;'>{{ $json.tienPhaiDongFormatted }} đ</b></p>\n      <img src=\"{{ $json.qrUrl }}\" width=\"250\" style=\"border: 2px solid #1e40af; border-radius: 8px; margin-top: 10px;\">\n      <p style='font-size: 13px; color: #64748b;'>Quét mã QR để thanh toán. Hệ thống sẽ tự động bàn giao phòng & gửi tài khoản cho bạn sau khi nhận được tiền.</p>\n    </div>\n  </div>\n</div>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "name": "Gửi Mail + PDF Hợp Đồng",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1888,
        512
      ],
      "id": "9a90e0f9-10dc-44d7-b414-982f95bab842",
      "webhookId": "90d7d525-f661-42a5-b1c9-b64189d15bcd",
      "credentials": {
        "gmailOAuth2": {
          "id": "Vvlx3WVPkECrIkpz",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6126814953",
        "text": "=✅ Xử lý hợp đồng xong!\n👤 {{ $('Format & Tạo HTML Hợp Đồng').item.json.hoTen }}\n🏠 Phòng: {{ $('Format & Tạo HTML Hợp Đồng').item.json.phong }}\n📧 Email + PDF gửi tới: {{ $('Format & Tạo HTML Hợp Đồng').item.json.email }}\n💾 PDF đã lưu DB (Contract #{{ $('Format & Tạo HTML Hợp Đồng').item.json.contractId }})",
        "additionalFields": {}
      },
      "name": "Báo cáo Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -1648,
        512
      ],
      "id": "514fa3ad-f734-471d-8df0-90897191f0b2",
      "webhookId": "03caecf4-5f9f-4641-8ec4-ea986b4ee60e",
      "credentials": {
        "telegramApi": {
          "id": "xJ5hM6BFpWwN99k8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"success\", \"message\": \"PDF lưu DB và Email đã gửi!\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1648,
        368
      ],
      "id": "6fa43351-8f83-40fe-a521-9533d9fc10f4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy toàn bộ dữ liệu khách hàng (JSON) từ node Lấy PDF Base64\nconst fullData = $('Lấy PDF Base64').item.json;\n\n// 2. Lấy file PDF (Binary) cũng từ node Lấy PDF Base64 luôn\n// Vì node \"Lưu PDF vào Database\" ngay phía trước đã làm mất binary rồi\nconst pdfFile = $('Lấy PDF Base64').item.binary.data;\n\nreturn {\n  json: fullData,\n  binary: {\n    data: pdfFile\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        512
      ],
      "id": "d4f9bfba-b3b5-4f97-9d6f-ac9df8b16e38",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (FastAPI gọi)": {
      "main": [
        [
          {
            "node": "Format & Tạo HTML Hợp Đồng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format & Tạo HTML Hợp Đồng": {
      "main": [
        [
          {
            "node": "HTML String → Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML String → Binary File": {
      "main": [
        [
          {
            "node": "Gotenberg: HTML → PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gotenberg: HTML → PDF": {
      "main": [
        [
          {
            "node": "Lấy PDF Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy PDF Base64": {
      "main": [
        [
          {
            "node": "Lưu PDF vào Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lưu PDF vào Database": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Mail + PDF Hợp Đồng": {
      "main": [
        [
          {
            "node": "Báo cáo Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Gửi Mail + PDF Hợp Đồng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "ba03b796-4016-41dd-ad66-842b6a8db46b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d92e635d9923c5e33aeed71b490c99116d0f169f30a0e3b5c6dbc179b7236fd2"
  },
  "id": "i5nKO7aBizMrVWiYJv6nl",
  "tags": []
}