workflow/CLM workflow 6.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "tenKhach",
              "value": "={{ $json.body.hoTen }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "maPhong",
              "value": "={{ $json.body.phong }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "loaiSuCo",
              "value": "={{ $json.body.loaiSuCo }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "mucDoKhanCap",
              "value": "={{ $json.body.mucDoKhanCap }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "moTa",
              "value": "={{ $json.body.moTa }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "ngayBaoCao",
              "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "15b68274-4de4-4bbd-8609-9fbdfdffde10",
      "name": "Chuẩn bị dữ liệu sự cố1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        1328
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.mucDoKhanCap }}",
              "rightValue": "Khẩn cấp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b9747b9f-4273-40b2-b95b-be628f676b64",
      "name": "Kiểm tra mức độ khẩn cấp1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        1328
      ]
    },
    {
      "parameters": {
        "chatId": "-1003790123986",
        "text": "=🚨 SỰ CỐ KHẨN CẤP!\n\nPhòng: {{ $node[\"Chuẩn bị dữ liệu sự cố1\"].json.maPhong }}\nKhách: {{ $node[\"Chuẩn bị dữ liệu sự cố1\"].json.tenKhach }}\nEmail khách hàng: {{ $node[\"Chuẩn bị dữ liệu sự cố1\"].json.email }}\nLoại sự cố: {{ $node[\"Chuẩn bị dữ liệu sự cố1\"].json.loaiSuCo }}\nMô tả: {{ $node[\"Chuẩn bị dữ liệu sự cố1\"].json.moTa }}\nThời gian: {{ $node[\"Chuẩn bị dữ liệu sự cố1\"].json.ngayBaoCao }}\n\n\nVui lòng xử lý ngay!",
        "additionalFields": {}
      },
      "id": "03d7880c-229c-4601-9773-e1f449ed7682",
      "name": "Thông báo Telegram khẩn cấp1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        1152
      ],
      "webhookId": "450a4620-13c5-45f2-a5ff-ab6b86dbedba",
      "credentials": {
        "telegramApi": {
          "id": "8OipU1vjlzGynpLq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Xác nhận tiếp nhận sự cố - Phòng {{ $json.maPhong }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #d32f2f;\">🚨 Sự cố khẩn cấp đã được ghi nhận</h2>\n  <p>Kính gửi <strong>{{ $json.tenKhach }}</strong>,</p>\n  <p>Chúng tôi đã nhận được báo cáo sự cố <strong>KHẨN CẤP</strong> từ phòng <strong>{{ $json.maPhong }}</strong>.</p>\n  <div style=\"background: #ffebee; padding: 15px; border-left: 4px solid #d32f2f; margin: 20px 0;\">\n    <p><strong>Loại sự cố:</strong> {{ $json.loaiSuCo }}</p>\n    <p><strong>Mô tả:</strong> {{ $json.moTa }}</p>\n  </div>\n  <p style=\"color: #d32f2f; font-weight: bold;\">⚡ Thợ sửa chữa sẽ đến trong vòng 2-4 giờ tới.</p>\n  <p>Xin cảm ơn sự thông báo kịp thời của bạn!</p>\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #666;\">Trân trọng,<br>Ban quản lý</p>\n</div>",
        "options": {}
      },
      "id": "bc05e176-9423-414b-9264-44eeae2de33b",
      "name": "Email phản hồi khách hàng1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1136,
        1152
      ],
      "webhookId": "ce3cfbba-a3a5-4c7b-b6a6-00d60fcc7057",
      "credentials": {
        "gmailOAuth2": {
          "id": "X3bziJl7KZC9P83p",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Xác nhận tiếp nhận sự cố - Phòng {{ $json.maPhong }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #1976d2;\">✅ Đã ghi nhận sự cố</h2>\n  <p>Kính gửi <strong>{{ $json.tenKhach }}</strong>,</p>\n  <p>Chúng tôi đã nhận được báo cáo sự cố từ phòng <strong>{{ $json.maPhong }}</strong>.</p>\n  <div style=\"background: #e3f2fd; padding: 15px; border-left: 4px solid #1976d2; margin: 20px 0;\">\n    <p><strong>Loại sự cố:</strong> {{ $json.loaiSuCo }}</p>\n    <p><strong>Mô tả:</strong> {{ $json.moTa }}</p>\n  </div>\n  <p>🔧 Thợ sửa chữa sẽ liên hệ và đến trong vòng <strong>24 giờ tới</strong>.</p>\n  <p>Cảm ơn bạn đã thông báo!</p>\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #666;\">Trân trọng,<br>Ban quản lý</p>\n</div>",
        "options": {}
      },
      "id": "b4340773-f644-437f-bb0b-8571cb60c711",
      "name": "Email phản hồi bình thường1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1136,
        1520
      ],
      "webhookId": "1f04fb70-2d7f-424f-aef3-7e034886ee7b",
      "credentials": {
        "gmailOAuth2": {
          "id": "X3bziJl7KZC9P83p",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bao-cao-su-co",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "775efc2b-b52c-4371-a041-5bf3762e8e86",
      "name": "Nhận báo cáo từ React1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        304,
        1328
      ],
      "webhookId": "d7351124-7734-4f74-82e2-eb8c421cfaea"
    },
    {
      "parameters": {},
      "id": "c09b8c43-7255-4f5e-b10d-afb7307090b4",
      "name": "Gộp kết quả email1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        1360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Đã ghi nhận sự cố thành công\"\n}",
        "options": {}
      },
      "id": "7fdcd1f0-b767-4411-92dc-bcc741351c00",
      "name": "Trả response về React1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1888,
        1360
      ]
    }
  ],
  "connections": {
    "Chuẩn bị dữ liệu sự cố1": {
      "main": [
        [
          {
            "node": "Kiểm tra mức độ khẩn cấp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra mức độ khẩn cấp1": {
      "main": [
        [
          {
            "node": "Email phản hồi khách hàng1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email phản hồi bình thường1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thông báo Telegram khẩn cấp1": {
      "main": [
        [
          {
            "node": "Gộp kết quả email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email phản hồi khách hàng1": {
      "main": [
        [
          {
            "node": "Thông báo Telegram khẩn cấp1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email phản hồi bình thường1": {
      "main": [
        [
          {
            "node": "Gộp kết quả email1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Nhận báo cáo từ React1": {
      "main": [
        [
          {
            "node": "Chuẩn bị dữ liệu sự cố1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gộp kết quả email1": {
      "main": [
        [
          {
            "node": "Trả response về React1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a3faff9b6196ac5332ee2c10061db08c7e0d6e3ba4c279045337ec16c595ccfa"
  }
}