workflow/CLM workflow 4.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/payments/payos-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "210f842a-3c7e-4b4a-9203-94c0002d36b1",
      "name": "Webhook PayOS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1120,
        96
      ],
      "webhookId": "9c15f1bc-1377-48a2-8ba5-610be6fea57d"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const payloadData = $input.item.json.body.data;\nconst signature = $input.item.json.body.signature;\n\nif (!payloadData || !signature) return { valid: false, signData: \"\", originalSignature: \"\" };\n\nconst sortedKeys = Object.keys(payloadData).sort();\nconst signDataArr = [];\nfor(const k of sortedKeys) {\n    if(payloadData[k] !== undefined && payloadData[k] !== null && typeof payloadData[k] !== 'object' && typeof payloadData[k] !== 'array') {\n        signDataArr.push(`${k}=${payloadData[k]}`);\n    }\n}\nconst signData = signDataArr.join('&');\n\nreturn {\n  signData: signData,\n  originalSignature: signature,\n  bodyData: payloadData\n};"
      },
      "id": "bfa2b09a-00dc-4110-b0c5-35fcfe88d6d8",
      "name": "Tạo chuỗi xác thực",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        96
      ]
    },
    {
      "parameters": {
        "action": "hmac",
        "value": "={{ $json.signData }}",
        "dataPropertyName": "signData",
        "secret": "f15b091c09fba77e9912ffa25edcf3b4a58eb771ebf9d244547f626ba000e503"
      },
      "id": "876540eb-e3e9-4233-94cc-46c0ba6fd845",
      "name": "Tính toán HMAC",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1584,
        96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data }}",
              "value2": "={{ $json.originalSignature }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7f1fd967-617a-42db-a7a6-6792f714aca3",
      "name": "Kiểm tra Chữ ký HMAC",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1776,
        96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Sai chữ ký bảo mật (Invalid Signature)\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "e9fdfb08-ef71-4da8-9f07-dea3c2e04cfa",
      "name": "Từ chối Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1984,
        224
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $('Tạo chuỗi xác thực').item.json.bodyData;\nconst description = data.description || \"\";\n\n// Lấy phần mã phòng sau dấu gạch dưới (VD: ThanhToan_P101 -> P101)\n// Nếu không có gạch dưới thì lấy 4 ký tự cuối (VD: P101)\nconst maPhong = description.includes('_') ? description.split('_').pop().toUpperCase() : description.slice(-4).toUpperCase();\n\nreturn {\n  ma_phong: maPhong,\n  tong_tien_bill: data.amount\n};"
      },
      "id": "d287a3da-bb0c-4a60-8656-cb7adf435466",
      "name": "Trích xuất dữ liệu thanh toán PayOS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        -16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    u.id AS bill_id,\n    r.ma_phong, \n    u.thang_nam, \n    u.tong_tien, \n    t.ho_ten, \n    t.email\nFROM rooms r\nJOIN utility_bills u ON r.id = u.room_id\nJOIN contracts c ON r.id = c.room_id\nJOIN tenants t ON c.tenant_id = t.id\nWHERE r.ma_phong = '{{ $('Trích xuất dữ liệu thanh toán PayOS').item.json.ma_phong }}'\n  AND u.trang_thai = 'Chưa thanh toán'\nORDER BY u.id DESC\nLIMIT 1;",
        "options": {}
      },
      "id": "ffab67ae-7f47-4887-858b-84ddbe9b1135",
      "name": "Lấy thông tin hợp đồng",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2224,
        -16
      ],
      "credentials": {
        "postgres": {
          "id": "DWwicrJcvSj795aW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f5033f2c-62bd-4d17-b162-52aedd7915f4",
              "leftValue": "={{ $('Lấy thông tin hợp đồng').item.json.tong_tien }}",
              "rightValue": "={{ $('Trích xuất dữ liệu thanh toán PayOS').item.json.tong_tien_bill }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3e8309d5-9fd2-40c8-98ef-80e20d765add",
      "name": "Kiểm tra số tiền khớp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2432,
        -16
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"message\": \"Số tiền thanh toán không khớp với hóa đơn\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "7ef570e2-08b3-4311-8f18-5ec8c507dca8",
      "name": "Trả lỗi số tiền không khớp",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2624,
        128
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE utility_bills SET trang_thai = 'Đã thanh toán' WHERE id = {{ $json.bill_id }};",
        "options": {}
      },
      "id": "3fb0a38a-ca1f-4038-ab6c-aca2002fa8cc",
      "name": "Cập nhật trạng thái gửi DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2656,
        -112
      ],
      "credentials": {
        "postgres": {
          "id": "DWwicrJcvSj795aW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Lấy thông tin hợp đồng').item.json.email }}",
        "subject": "Xác nhận thanh toán hóa đơn điện nước thành công - Biên lai điện tử",
        "emailType": "text",
        "message": "=Kính gửi {{ $('Lấy thông tin hợp đồng').item.json.ho_ten }},\n\nChúng tôi xác nhận đã nhận được khoản thanh toán hóa đơn điện nước của bạn qua PayOS (Đã xác minh an toàn).\n\nChi tiết hóa đơn điện nước:\n- Phòng: {{ $('Lấy thông tin hợp đồng').item.json.ma_phong }}\n- Kỳ hóa đơn: {{ $('Lấy thông tin hợp đồng').item.json.thang_nam }}\n- Tổng tiền đã đóng: {{ $('Lấy thông tin hợp đồng').item.json.tong_tien }} VNĐ\n- Trạng thái: Đã thanh toán thành công\n\nCảm ơn bạn đã thanh toán hóa đơn đúng hạn.\n\nTrân trọng,\nBan quản lý",
        "options": {}
      },
      "id": "a1b1b6fc-967d-4bc9-b405-608493cb41cb",
      "name": "Gửi bill cho khách hàng",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2912,
        -112
      ],
      "webhookId": "8193ec77-44a5-4fb9-b36b-cafdf0203f7e",
      "credentials": {
        "gmailOAuth2": {
          "id": "mHOp1T0AYAe7EoTv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Thanh toán đã được xác nhận và bill đã được gửi\",\n  \"data\": {\n    \"maPhong\": \"={{ $('Lấy thông tin hợp đồng').item.json.ma_phong }}\",\n    \"soTien\": \"={{ $('Lấy thông tin hợp đồng').item.json.tong_tien }}\",\n    \"trangThai\": \"confirmed\"\n  }\n}",
        "options": {}
      },
      "id": "061cf349-ffcc-4f01-bf80-abaf6c6e2ffe",
      "name": "Trả kết quả phản hồi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3168,
        -112
      ]
    }
  ],
  "connections": {
    "Webhook PayOS": {
      "main": [
        [
          {
            "node": "Tạo chuỗi xác thực",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo chuỗi xác thực": {
      "main": [
        [
          {
            "node": "Tính toán HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tính toán HMAC": {
      "main": [
        [
          {
            "node": "Kiểm tra Chữ ký HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra Chữ ký HMAC": {
      "main": [
        [
          {
            "node": "Trích xuất dữ liệu thanh toán PayOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Từ chối Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trích xuất dữ liệu thanh toán PayOS": {
      "main": [
        [
          {
            "node": "Lấy thông tin hợp đồng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy thông tin hợp đồng": {
      "main": [
        [
          {
            "node": "Kiểm tra số tiền khớp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra số tiền khớp": {
      "main": [
        [
          {
            "node": "Cập nhật trạng thái gửi DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trả lỗi số tiền không khớp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập nhật trạng thái gửi DB": {
      "main": [
        [
          {
            "node": "Gửi bill cho khách hàng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi bill cho khách hàng": {
      "main": [
        [
          {
            "node": "Trả kết quả phản hồi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99b801ad2317bd8fa417b21134ca8050bf3a38b35681c8d7793c3b6c4072a11b"
  }
}