workflow/CLM workflow 3.json
{
  "name": "CLM workflow 3",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.ma_phong AS phong, '{{ $json.chiSoDienMoi }}'::numeric AS \"chiSoDienMoi\", 'AI_OCR_ADMIN' AS nguon, c.gia_thue_chot AS \"tienPhong\", t.ho_ten AS \"hoTen\", t.email AS \"email\", COALESCE((SELECT chi_so_dien_moi FROM utility_bills WHERE room_id = r.id ORDER BY id DESC LIMIT 1), 0) AS \"chiSoDienCu\", COALESCE((SELECT chi_so_nuoc_moi FROM utility_bills WHERE room_id = r.id ORDER BY id DESC LIMIT 1), 0) AS \"chiSoNuocCu\" FROM rooms r JOIN contracts c ON r.id = c.room_id JOIN tenants t ON c.tenant_id = t.id WHERE r.ma_phong = '{{ $json.phong }}' AND c.trang_thai = 'Hiệu lực' LIMIT 1;",
        "options": {}
      },
      "id": "6fe3f648-16db-42a3-a737-efb7e3392547",
      "name": "Lấy Tiền Nhà & Điện Cũ",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -8336,
        4592
      ],
      "credentials": {
        "postgres": {
          "id": "riWAm7ixYWerH0ry",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "1aecca67-ec55-4ef7-8eba-48283fdce01d",
      "name": "gửi ảnh Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -8976,
        4592
      ],
      "webhookId": "6769407f-6c79-4724-b5e4-8720e19d92d1",
      "credentials": {
        "telegramApi": {
          "id": "xJ5hM6BFpWwN99k8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const ADMIN_TELEGRAM_ID = 6126814953;\n  const senderId = $('gửi ảnh Telegram').item.json.message.from.id;\n  if (senderId !== ADMIN_TELEGRAM_ID) throw new Error(\"Cảnh báo: Bạn không có quyền sử dụng Bot!\");\n  const ocrText = $json.ParsedResults[0].ParsedText;\n  const caption = $('gửi ảnh Telegram').item.json.message.caption || '';\n  const matchPhong = caption.match(/(?:P|#|Phòng\\s*)(\\d{3,4})/i);\n  const phong = matchPhong ? matchPhong[1] : '???';\n  if (phong === '???') throw new Error(\"Lỗi: Quên ghi mã phòng ở phần Caption rồi!\");\n  const numbers = ocrText.match(/\\d+/g);\n  let chiSoMoi = 0;\n  if (numbers && numbers.length > 0) chiSoMoi = Math.max(...numbers.map(Number)); \n  return {\n    json: {\n      phong: phong,\n      chiSoDienMoi: chiSoMoi,\n      nguon: \"AI_OCR_ADMIN\"\n    }\n  };\n} catch (error) {\n  throw new Error(error.message);\n}"
      },
      "id": "a2d26dc1-c6cb-4cda-bcee-dfeac10722b5",
      "name": "Bóc tách Dữ liệu",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -8576,
        4592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "helloworld"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "attachment_0"
            },
            {
              "parameterType": "formKeyValue",
              "name": "language"
            },
            {
              "parameterType": "formKeyValue",
              "name": "isOverlayRequired"
            }
          ]
        },
        "options": {}
      },
      "id": "250cb3ff-ca95-4af5-ab4b-1bde651f4234",
      "name": "AI Đọc Số (OCR.Space)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -8768,
        4592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "is_auto",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "6e05a44d-d563-47a6-9444-e4472c85ea56",
      "name": "Manual: Set Flag",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8112,
        4528
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chot-dien-nuoc",
        "options": {}
      },
      "id": "af8e7685-a96e-4d39-b1f6-6b71c6a582b3",
      "name": "Webhook (Chốt tay)1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -8576,
        4384
      ],
      "webhookId": "9180ca77-47a2-4ed4-a712-acfa9b297ebe"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "6126814953",
        "binaryData": true,
        "additionalFields": {
          "caption": "=🚀 [BÁO CÁO HÓA ĐƠN GỘP]\n🏠 Phòng: {{ $('2. Tính Toán & VietQR').item.json.phong }}\n💸 Tổng tiền: {{ $('2. Tính Toán & VietQR').item.json.txt_tong }}\n✅ Trạng thái: Hoàn tất chốt sổ."
        }
      },
      "id": "ced06535-5424-4f01-bf0e-23222f3b9101",
      "name": "7. Tele: Báo cáo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -6672,
        4544
      ],
      "webhookId": "361d59f0-62c5-4a54-9f57-1f8e4f7df4d7",
      "credentials": {
        "telegramApi": {
          "id": "xJ5hM6BFpWwN99k8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/bills/save",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phong",
              "value": "={{ $('2. Tính Toán & VietQR').item.json.phong }}"
            },
            {
              "name": "tong_tien",
              "value": "={{ $('2. Tính Toán & VietQR').item.json.val_tong }}"
            },
            {
              "name": "pdf_base64",
              "value": "={{ $json.pdfBase64 }}"
            },
            {
              "name": "qr_url",
              "value": "={{ $('2. Tính Toán & VietQR').item.json.qrUrl }}"
            },
            {
              "name": "thang_nam",
              "value": "={{ $('2. Tính Toán & VietQR').item.json.thangDisplay }}"
            },
            {
              "name": "chi_so_dien_moi",
              "value": "={{ $('2. Tính Toán & VietQR').item.json.chi_so_dien_moi }}"
            },
            {
              "name": "chi_so_dien_cu",
              "value": "={{ $('2. Tính Toán & VietQR').item.json.chi_so_dien_cu }}"
            },
            {
              "name": "chi_so_nuoc_cu",
              "value": "={{ $('2. Tính Toán & VietQR').item.json.chi_so_nuoc_cu }}"
            },
            {
              "name": "chi_so_nuoc_moi",
              "value": "={{ $('2. Tính Toán & VietQR').item.json.chi_so_nuoc_moi }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a27465ee-62d2-456b-b21b-ae7fa23cb498",
      "name": "6. Lưu Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -6672,
        4240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const fileBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst pdfBase64 = fileBuffer.toString('base64');\nconst info = $('2. Tính Toán & VietQR').item.json;\n\nreturn {\n  json: { ...info, pdfBase64 },\n  binary: {\n    data: await this.helpers.prepareBinaryData(fileBuffer, `HoaDon_P${info.phong}.pdf`, 'application/pdf')\n  }\n};"
      },
      "id": "aad8c5b9-f910-409a-9d53-a445e37f3393",
      "name": "5. Đóng gói PDF & Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6928,
        4384
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "60fb2bfc-82be-47ab-b2ae-1b166fa20e51",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -7152,
        4384
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "indexHtml"
            }
          ]
        },
        "options": {}
      },
      "id": "d89aead0-ef6d-4100-9eb5-a336dc61cd64",
      "name": "4. Gotenberg (PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -7376,
        4240
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst html = `<html><body><h2>Hóa đơn P.${d.phong}</h2><p>Tổng: ${d.txt_tong}</p></body></html>`;\nreturn {\n  json: d,\n  binary: {\n    indexHtml: await this.helpers.prepareBinaryData(Buffer.from(html), 'index.html', 'text/html')\n  }\n};"
      },
      "id": "71754d5a-8014-454d-b6ad-8d1ae8c7172a",
      "name": "3. Dàn trang HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7568,
        4240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json;\nconst isAI = input.nguon === \"AI_OCR_ADMIN\";\n\nfunction getV(key) {\n    if (input[key] !== undefined && input[key] !== null) return input[key];\n    if (input.body && input.body[key] !== undefined) return input.body[key];\n    return 0; \n}\n\nconst phong = getV('phong') || getV('ma_phong') || \"?\";\nconst hoTen = getV('hoTen') || getV('ho_ten') || \"Khách hàng\";\nconst email = getV('email') || \"clm@example.com\";\n\nconst today = new Date();\nconst thangNam = getV('thangNam') || getV('thang_nam') || `${today.getMonth() + 1}/${today.getFullYear()}`;\n\nlet baseRent = Number(getV('tienPhong') || getV('tien_phong') || 0);\nlet tongTuReact = Number(getV('tongTien') || getV('tong_tien') || 0);\n\nlet val_dien = 0;\nlet val_nuoc = 0;\nlet finalTotal = 0;\n\nif (tongTuReact > 0 && !isAI) {\n    baseRent = tongTuReact;\n    finalTotal = tongTuReact;\n} else {\n    const sd = Number(getV('chiSoDienMoi')) - Number(getV('chiSoDienCu'));\n    const sn = Number(getV('chiSoNuocMoi')) - Number(getV('chiSoNuocCu'));\n\n    val_dien = Math.max(0, sd * 3500); \n    val_nuoc = Math.max(0, sn * 100000); \n\n    finalTotal = baseRent + val_dien + val_nuoc;\n}\n\nconst fmt = (v) => new Intl.NumberFormat('vi-VN').format(v) + ' đ';\n\nreturn {\n    json: {\n        ...input, \n        phong, hoTen, email,\n        is_auto: false,\n        val_phong: baseRent,\n        val_tong: finalTotal,\n        txt_phong: fmt(baseRent),\n        txt_tong: fmt(finalTotal),\n        thangDisplay: thangNam,\n        qrUrl: `https://img.vietqr.io/image/MB-0905881525-compact2.png?amount=${finalTotal}&addInfo=ThanhToan_P${phong}&accountName=HUYNH%20NGOC%20HUY`,\n        chi_so_dien_cu: Number(getV('chiSoDienCu')),\n        chi_so_dien_moi: Number(getV('chiSoDienMoi')),\n        chi_so_nuoc_cu: Number(getV('chiSoNuocCu')),\n        chi_so_nuoc_moi: Number(getV('chiSoNuocMoi'))\n    }\n};"
      },
      "id": "59a95c90-1e56-438f-9142-44032b61f030",
      "name": "2. Tính Toán & VietQR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7776,
        4368
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('2. Tính Toán & VietQR').item.json.email }}",
        "subject": "=Hóa đơn tiền nhà P.{{ $('2. Tính Toán & VietQR').item.json.phong }} - Tháng {{ $('2. Tính Toán & VietQR').item.json.thangDisplay }}",
        "message": "=<div style='font-family:Arial,sans-serif; max-width:600px; border:1px solid #e2e8f0; border-radius:12px; overflow:hidden;'>\n  <div style='background:#1e40af; padding:20px; color:white; text-align:center;'>\n    <h2 style='margin:0;'>HÓA ĐƠN P.{{ $('2. Tính Toán & VietQR').item.json.phong }}</h2>\n  </div>\n  \n  <div style='padding:24px; background:#f8fafc;'>\n    <p>Xin chào <strong>{{ $('2. Tính Toán & VietQR').item.json.hoTen }}</strong>,</p>\n    \n    <p>Ban quản lý gửi bạn thông báo thanh toán cho kỳ <strong>{{ $('2. Tính Toán & VietQR').item.json.thangDisplay }}</strong>, bao gồm:</p>\n    <ul style='color:#334155;'>\n      <li><b>Tiền nhà:</b> {{ $('2. Tính Toán & VietQR').item.json.txt_phong }}</li>\n      <li><b>Điện & Nước:</b> Tính theo thực tế (Đã gộp)</li>\n    </ul>\n\n    <div style='background:white; border:2px dashed #1e40af; padding:15px; text-align:center; margin:20px 0;'>\n      <span style='font-size:14px; color:#64748b;'>TỔNG SỐ TIỀN CẦN THANH TOÁN</span><br>\n      <b style='font-size:24px; color:#dc2626;'>{{ $('2. Tính Toán & VietQR').item.json.txt_tong }}</b>\n    </div>\n\n    <p style='font-size:13px; color:#64748b; font-style:italic;'>* Chi tiết chỉ số và QR thanh toán, vui lòng xem trong file PDF đính kèm.</p>\n    \n    <hr style='border:0; border-top:1px solid #e2e8f0; margin:20px 0;'>\n    <p style='color:#1e40af; font-weight:bold; margin:0;'>Trân trọng,<br>Ban Quản Lý CLM</p>\n  </div>\n</div>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "c3fb4810-9cbf-48e1-8fce-9121544b8592",
      "name": "Gửi Mail Hóa Đơn",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -6368,
        4384
      ],
      "webhookId": "73f26785-48d8-4bd3-ab1f-6a0959b8b773",
      "credentials": {
        "gmailOAuth2": {
          "id": "GDkRrIaMd4vssTbO",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "gửi ảnh Telegram": {
      "main": [
        [
          {
            "node": "AI Đọc Số (OCR.Space)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bóc tách Dữ liệu": {
      "main": [
        [
          {
            "node": "Lấy Tiền Nhà & Điện Cũ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Đọc Số (OCR.Space)": {
      "main": [
        [
          {
            "node": "Bóc tách Dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy Tiền Nhà & Điện Cũ": {
      "main": [
        [
          {
            "node": "Manual: Set Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (Chốt tay)1": {
      "main": [
        [
          {
            "node": "Manual: Set Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual: Set Flag": {
      "main": [
        [
          {
            "node": "2. Tính Toán & VietQR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Đóng gói PDF & Base64": {
      "main": [
        [
          {
            "node": "7. Tele: Báo cáo",
            "type": "main",
            "index": 0
          },
          {
            "node": "6. Lưu Database",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gửi Mail Hóa Đơn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "5. Đóng gói PDF & Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Gotenberg (PDF)": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "3. Dàn trang HTML": {
      "main": [
        [
          {
            "node": "4. Gotenberg (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Tính Toán & VietQR": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "3. Dàn trang HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "330f4b05-f55a-44ce-a37c-5dd7f292d46e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d92e635d9923c5e33aeed71b490c99116d0f169f30a0e3b5c6dbc179b7236fd2"
  },
  "id": "8gY1u4LUK6tzD7uIWLxkU",
  "tags": []
}