workflow/workflow 5.json
{
  "name": "workflow 5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "de9c378b-ac2d-4fce-b520-ecb746bc95fe",
      "name": "Kiểm tra hàng ngày 8h sáng",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        64
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const today = new Date();\nconst endDate = new Date($input.item.json.ngayKetThuc);\nconst diffTime = endDate - today;\nconst daysRemaining = Math.ceil(diffTime / (1000 * 60 * 60 * 24));\n\nreturn {\n  ...$input.item.json,\n  soNgayConLai: daysRemaining,\n  trangThaiHopDong: daysRemaining <= 0 ? \"Hết hạn\" : daysRemaining <= 30 ? \"Sắp hết hạn\" : \"Còn hiệu lực\"\n};"
      },
      "id": "26b3e192-2f96-4e64-9234-3d381c813915",
      "name": "Tính số ngày còn lại",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.soNgayConLai }}",
              "rightValue": "30",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "97f8e2c6-0f18-4d7f-9559-fce2a3c34ba3",
      "name": "Kiểm tra còn 30 ngày",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        640,
        64
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Thông báo hợp đồng sắp hết hạn - Phòng {{ $json.maPhong }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #ff9800;\">⏰ Thông báo hợp đồng sắp hết hạn</h2>\n  <p>Kính gửi <strong>{{ $json.tenKhach }}</strong>,</p>\n  <p>Hợp đồng thuê phòng <strong>{{ $json.maPhong }}</strong> của bạn sắp hết hạn vào ngày <strong style=\"color: #ff9800;\">{{ $json.ngayKetThuc }}</strong> (còn {{ $json.soNgayConLai }} ngày).</p>\n  <div style=\"background: #fff3e0; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n    <p style=\"font-size: 16px; margin-bottom: 15px;\"><strong>Bạn muốn:</strong></p>\n    <div style=\"margin: 10px 0;\">\n      <a href=\"https://botaylun2.app.n8n.cloud/webhook/contract-response?action=renew&contractId={{ $json.id }}\" style=\"display: inline-block; background: #4caf50; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; margin-right: 10px;\">✅ Gia hạn hợp đồng</a>\n    </div>\n    <div style=\"margin: 10px 0;\">\n      <a href=\"https://botaylun2.app.n8n.cloud/webhook/contract-response?action=return&contractId={{ $json.id }}\" style=\"display: inline-block; background: #f44336; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px;\">❌ Trả phòng</a>\n    </div>\n  </div>\n  <p style=\"font-size: 14px; color: #666;\">Vui lòng phản hồi trước ngày <strong>{{ $json.ngayKetThuc }}</strong> để chúng tôi sắp xếp phù hợp.</p>\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #666;\">Trân trọng,<br>Ban quản lý</p>\n</div>",
        "options": {}
      },
      "id": "93f7d0ab-2b46-4ba4-adcc-1e77c59eb5fe",
      "name": "Email hỏi ý kiến gia hạn",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        864,
        64
      ],
      "webhookId": "f476f1a4-dc74-4064-8049-368d6a4cb009"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, ma_phong as \"maPhong\", ten_khach as \"tenKhach\", email, ngay_bat_dau as \"ngayBatDau\", ngay_ket_thuc as \"ngayKetThuc\" FROM hop_dong WHERE ngay_ket_thuc >= CURRENT_DATE AND ngay_ket_thuc <= CURRENT_DATE + INTERVAL '30 days' ORDER BY ngay_ket_thuc ASC",
        "options": {}
      },
      "id": "ea71c767-34fd-4a50-a0aa-37fff0aca38a",
      "name": "Lấy danh sách hợp đồng từ DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        64
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contract-response",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "82f8883b-46b0-4a41-ad92-e0839845b474",
      "name": "Nhận phản hồi từ React",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        288
      ],
      "webhookId": "2ba20120-0653-4158-a5b1-e86fdb6acc83"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__fastapi_backend_url__>/api/contracts/update-decision",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contractId\": \"={{ $json.query.contractId }}\",\n  \"action\": \"={{ $json.query.action }}\",\n  \"timestamp\": \"={{ $now.toISO() }}\"\n}",
        "options": {}
      },
      "id": "bfa42648-1bb9-49a6-95eb-85f1b978ad5d",
      "name": "Cập nhật quyết định qua FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        288
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Cảm ơn bạn đã phản hồi. Chúng tôi sẽ xử lý yêu cầu của bạn.\",\n  \"contractId\": \"={{ $json.query.contractId }}\",\n  \"action\": \"={{ $json.query.action }}\"\n}",
        "options": {}
      },
      "id": "8e2dd16c-ebb8-4e55-8a4a-531027d3afe0",
      "name": "Trả response cho React",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        288
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Kiểm tra hàng ngày 8h sáng": {
      "main": [
        [
          {
            "node": "Lấy danh sách hợp đồng từ DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tính số ngày còn lại": {
      "main": [
        [
          {
            "node": "Kiểm tra còn 30 ngày",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra còn 30 ngày": {
      "main": [
        [
          {
            "node": "Email hỏi ý kiến gia hạn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy danh sách hợp đồng từ DB": {
      "main": [
        [
          {
            "node": "Tính số ngày còn lại",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nhận phản hồi từ React": {
      "main": [
        [
          {
            "node": "Cập nhật quyết định qua FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cập nhật quyết định qua FastAPI": {
      "main": [
        [
          {
            "node": "Trả response cho React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b2e96f84-1c44-433f-81ae-395da6fd3a02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4d3941fa03660f2191a0040587b34a07a92851b9f178814059d6089332023eb"
  },
  "id": "157UOlMuZyCMofFB",
  "tags": []
}