workflow/workflow-4-main.json
{
  "name": "workflow 4",
  "nodes": [
    {
      "parameters": {
        "sendTo": "={{ $(\"Chuẩn bị dữ liệu\").item.json.email }}",
        "subject": "Xác nhận thanh toán - Biên lai điện tử",
        "message": "=Kính gửi {{ $(\"Chuẩn bị dữ liệu\").item.json.tenKhach }},\n\nCảm ơn bạn đã thanh toán tiền thuê phòng {{ $(\"Chuẩn bị dữ liệu\").item.json.maPhong }} cho tháng {{ $(\"Chuẩn bị dữ liệu\").item.json.thangThanhToan }}.\n\nSố tiền: {{ $(\"Chuẩn bị dữ liệu\").item.json.soTien }} VNĐ\nTrạng thái: Đã thanh toán\n\nĐây là biên lai điện tử xác nhận giao dịch của bạn.\n\nTrân trọng,\nBan quản lý",
        "options": {}
      },
      "id": "cb584f28-01c2-4047-ab35-f96d325037e9",
      "name": "Gửi Email biên lai",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        0
      ],
      "webhookId": "bb157193-2da8-4dff-bbf9-13e808b8c758"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "tenKhach",
              "value": "={{ $json.tenKhach || $json.hoVaTen }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "maPhong",
              "value": "={{ $json.maPhong }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "thangThanhToan",
              "value": "={{ $json.thangThanhToan }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "soTien",
              "value": "={{ $json.soTien }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "anhBill",
              "value": "={{ $json.anhBillUrl }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "trangThai",
              "value": "Đã thanh toán",
              "type": "string"
            },
            {
              "id": "cf6862c3-eb04-49e0-a8fd-8aa30e0efc6a",
              "name": "thoiGian",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "fe681564-5c2d-4e2c-b97f-e8989c15acec",
      "name": "Chuẩn bị dữ liệu",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const data = $input.item.json.body || $input.item.json;\nconst files = data.anhChuyenKhoan || [];\nconst fileUrls = Array.isArray(files) ? files.map(f => f.url || f).filter(url => url).join(', ') : files;\n\nreturn {\n  ...data,\n  anhBillUrl: fileUrls\n};"
      },
      "id": "1c1071b1-7ec5-4151-ba84-df9582836617",
      "name": "Xử lý ảnh bill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-confirmation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c0710e10-6a41-4460-8987-f246b18d0d76",
      "name": "Webhook nhận dữ liệu từ React",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "webhookId": "2e280bff-9363-4f58-b687-c0fb536ca58d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "<__PLACEHOLDER_VALUE__fastapi_backend_url__>/api/payments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tenKhach",
              "value": "={{ $json.tenKhach }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "maPhong",
              "value": "={{ $json.maPhong }}"
            },
            {
              "name": "thangThanhToan",
              "value": "={{ $json.thangThanhToan }}"
            },
            {
              "name": "soTien",
              "value": "={{ $json.soTien }}"
            },
            {
              "name": "anhBill",
              "value": "={{ $json.anhBill }}"
            },
            {
              "name": "trangThai",
              "value": "={{ $json.trangThai }}"
            },
            {
              "name": "thoiGian",
              "value": "={{ $json.thoiGian }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d809f62f-7e3e-414b-aaf5-42657ecf69de",
      "name": "Lưu vào PostgreSQL qua FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Xác nhận thanh toán thành công. Email biên lai đã được gửi.\",\n  \"data\": {\n    \"maPhong\": \"={{ $('Chuẩn bị dữ liệu').item.json.maPhong }}\",\n    \"thangThanhToan\": \"={{ $('Chuẩn bị dữ liệu').item.json.thangThanhToan }}\",\n    \"soTien\": \"={{ $('Chuẩn bị dữ liệu').item.json.soTien }}\"\n  }\n}",
        "options": {}
      },
      "id": "12a7d804-e90e-4874-be78-ab1c53018dcc",
      "name": "Trả response cho React",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1344,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chuẩn bị dữ liệu": {
      "main": [
        [
          {
            "node": "Lưu vào PostgreSQL qua FastAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Xử lý ảnh bill": {
      "main": [
        [
          {
            "node": "Chuẩn bị dữ liệu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook nhận dữ liệu từ React": {
      "main": [
        [
          {
            "node": "Xử lý ảnh bill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lưu vào PostgreSQL qua FastAPI": {
      "main": [
        [
          {
            "node": "Gửi Email biên lai",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi Email biên lai": {
      "main": [
        [
          {
            "node": "Trả response cho React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9d01148a-5b27-4996-ab81-1034c9c6eaab",
  "meta": {
    "instanceId": "d4d3941fa03660f2191a0040587b34a07a92851b9f178814059d6089332023eb"
  },
  "id": "YKLMIeqtTzHqXBF1",
  "tags": []
}