workflow/workflow 5.json
{
  "name": "workflow 5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "2672705c-3955-4e55-9abd-4d4668f5417b",
      "name": "Kiểm tra hàng ngày 8h sáng",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        752
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1I80HIYmStLgcy7Ny5L5v08-QyDDpsJinr4XwcFtU6L8",
          "mode": "list",
          "cachedResultName": "Danh sách hợp đồng",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I80HIYmStLgcy7Ny5L5v08-QyDDpsJinr4XwcFtU6L8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Trang tính1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I80HIYmStLgcy7Ny5L5v08-QyDDpsJinr4XwcFtU6L8/edit#gid=0"
        },
        "options": {}
      },
      "id": "80eff7c1-02be-48f9-acc1-832548db1009",
      "name": "Đọc danh sách hợp đồng",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        208,
        752
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "iJ4Hv7SZ2ZusUUAy",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Calculate days remaining until contract end date\nconst today = new Date();\nconst endDate = new Date($input.item.json.ngayKetThuc);\n\n// Calculate difference in milliseconds\nconst diffTime = endDate - today;\n\n// Convert to days\nconst daysRemaining = Math.ceil(diffTime / (1000 * 60 * 60 * 24));\n\n// Add to the item\nreturn {\n  ...($input.item.json),\n  soNgayConLai: daysRemaining,\n  trangThaiHopDong: daysRemaining <= 0 ? 'Hết hạn' : daysRemaining <= 30 ? 'Sắp hết hạn' : 'Còn hiệu lực'\n};"
      },
      "id": "294f8683-ac17-4042-97c4-790502349807",
      "name": "Tính số ngày còn lại",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.soNgayConLai }}",
              "rightValue": "30",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4227201b-c2e6-4e89-addf-b3dda9cdf00c",
      "name": "Kiểm tra còn 30 ngày",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        752
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Thông báo hợp đồng sắp hết hạn - Phòng {{ $json.maPhong }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #ff9800;\">⏰ Thông báo hợp đồng sắp hết hạn</h2>\n  <p>Kính gửi <strong>{{ $json.tenKhach }}</strong>,</p>\n  <p>Hợp đồng thuê phòng <strong>{{ $json.maPhong }}</strong> của bạn sắp hết hạn vào ngày <strong style=\"color: #ff9800;\">{{ $json.ngayKetThuc }}</strong> (còn {{ $json.soNgayConLai }} ngày).</p>\n  <div style=\"background: #fff3e0; padding: 20px; border-radius: 8px; margin: 20px 0;\">\n    <p style=\"font-size: 16px; margin-bottom: 15px;\"><strong>Bạn muốn:</strong></p>\n    <div style=\"margin: 10px 0;\">\n      <a href=\"<__PLACEHOLDER_VALUE__form_gia_han_url__>\" style=\"display: inline-block; background: #4caf50; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px; margin-right: 10px;\">✅ Gia hạn hợp đồng</a>\n    </div>\n    <div style=\"margin: 10px 0;\">\n      <a href=\"<__PLACEHOLDER_VALUE__form_tra_phong_url__>\" style=\"display: inline-block; background: #f44336; color: white; padding: 12px 30px; text-decoration: none; border-radius: 5px;\">❌ Trả phòng</a>\n    </div>\n  </div>\n  <p style=\"font-size: 14px; color: #666;\">Vui lòng phản hồi trước ngày <strong>{{ $json.ngayKetThuc }}</strong> để chúng tôi sắp xếp phù hợp.</p>\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #666;\">Trân trọng,<br>Ban quản lý</p>\n</div>",
        "options": {}
      },
      "id": "e32ee1c8-72ca-4736-a58d-725a2cc35872",
      "name": "Email hỏi ý kiến gia hạn",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        944,
        736
      ],
      "webhookId": "f476f1a4-dc74-4064-8049-368d6a4cb009",
      "credentials": {
        "gmailOAuth2": {
          "id": "sZp1x4JvwtsXw1D7",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Kiểm tra hàng ngày 8h sáng": {
      "main": [
        [
          {
            "node": "Đọc danh sách hợp đồng",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Đọc danh sách hợp đồng": {
      "main": [
        [
          {
            "node": "Tính số ngày còn lại",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tính số ngày còn lại": {
      "main": [
        [
          {
            "node": "Kiểm tra còn 30 ngày",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra còn 30 ngày": {
      "main": [
        [
          {
            "node": "Email hỏi ý kiến gia hạn",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "availableInMCP": false
  },
  "versionId": "abedb2e6-5e4b-4005-b2b4-52b86c191016",
  "meta": {
    "instanceId": "58d5300b14e5f9edfc9743ae4534a73e532ae7000f5540772babff5fe8093248"
  },
  "id": "IL6gB5duiWFLvX1v",
  "tags": []
}