workflow-1-main.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1zKD6o4LOC6eowdikdLgcHW_1Bpco9G-Nkm8KOxZ2bao",
          "mode": "list",
          "cachedResultName": "Database_thue_nha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zKD6o4LOC6eowdikdLgcHW_1Bpco9G-Nkm8KOxZ2bao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1216453348,
          "mode": "list",
          "cachedResultName": "Câu trả lời biểu mẫu 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zKD6o4LOC6eowdikdLgcHW_1Bpco9G-Nkm8KOxZ2bao/edit#gid=1216453348"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9ccace7b-2400-4fcb-b9c4-a8141a1e5094",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "UZtgGKSQm5KlEnAr",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f1d5c86-33e5-4dad-b2fe-bac73c7e07a6",
              "name": "GiaThue_Dep",
              "value": "={{ $json[\"Giá thuê phòng\"].toLocaleString('vi-VN') }}",
              "type": "string"
            },
            {
              "id": "628bdee6-7d70-419a-9e16-623b02dd9941",
              "name": "TienCoc_Dep",
              "value": "={{ $json[\"Tiền đặt cọc (VNĐ)\"].toLocaleString('vi-VN') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "909bc0a1-881c-479b-a3c2-dc81e46b6e73",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1UseGXjCZdM-LLbhpWsediPRtW6MT6t4l",
          "mode": "id"
        },
        "name": "=Hợp đồng thuê nhà-{{ $json['Họ và tên người thuê'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        0
      ],
      "id": "c770adf1-85ea-4752-a4af-e420dd411a61",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "B8k2eSQVXorSc2Qo",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "32199b8f-7896-4d01-8385-18002add513b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75d878436d3383106d83217020ad7d834403a7cfc2e381de67c81a832ea2ab20"
  },
  "id": "i5nKO7aBizMrVWiYJv6nl",
  "tags": []
}