workflow6.json
{
  "name": "workflow6",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "tenKhach",
              "value": "={{ $json.body['Họ và tên'] }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "email",
              "value": "={{ $json.body.Email }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "maPhong",
              "value": "={{ $json.body['Mã phòng'] }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "loaiSuCo",
              "value": "={{ $json.body['Loại sự cố'] }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "mucDoKhanCap",
              "value": "={{ $json.body['Mức độ khẩn cấp'] }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "moTa",
              "value": "={{ $json.body['Mô tả chi tiết'] }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "ngayBaoCao",
              "value": "={{ $now.toFormat('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4714fa67-86c8-43b1-98fe-51313b7d5f51",
      "name": "Chuẩn bị dữ liệu sự cố",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1968,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.mucDoKhanCap }}",
              "rightValue": "Khẩn cấp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "13b78c97-b66d-4812-9792-ef3c23982075",
      "name": "Kiểm tra mức độ khẩn cấp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1568,
        592
      ]
    },
    {
      "parameters": {
        "chatId": "-1003790123986",
        "text": "=🚨 SỰ CỐ KHẨN CẤP!\n\nPhòng: {{ $json.maPhong }}\nKhách: {{ $json.tenKhach }}\nEmail khách hàng: {{ $json.email }}\nLoại sự cố: {{ $json.loaiSuCo }}\nMô tả: {{ $json.moTa }}\nThời gian: {{ $json.ngayBaoCao }}\n\n\nVui lòng xử lý ngay!",
        "additionalFields": {}
      },
      "id": "1fcb7bcd-1094-43d4-92c6-aca6ee3e91d5",
      "name": "Thông báo Telegram khẩn cấp",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1040,
        400
      ],
      "webhookId": "450a4620-13c5-45f2-a5ff-ab6b86dbedba"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Xác nhận tiếp nhận sự cố - Phòng {{ $json.maPhong }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #d32f2f;\">🚨 Sự cố khẩn cấp đã được ghi nhận</h2>\n  <p>Kính gửi <strong>{{ $json.tenKhach }}</strong>,</p>\n  <p>Chúng tôi đã nhận được báo cáo sự cố <strong>KHẨN CẤP</strong> từ phòng <strong>{{ $json.maPhong }}</strong>.</p>\n  <div style=\"background: #ffebee; padding: 15px; border-left: 4px solid #d32f2f; margin: 20px 0;\">\n    <p><strong>Loại sự cố:</strong> {{ $json.loaiSuCo }}</p>\n    <p><strong>Mô tả:</strong> {{ $json.moTa }}</p>\n  </div>\n  <p style=\"color: #d32f2f; font-weight: bold;\">⚡ Thợ sửa chữa sẽ đến trong vòng 2-4 giờ tới.</p>\n  <p>Xin cảm ơn sự thông báo kịp thời của bạn!</p>\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #666;\">Trân trọng,<br>Ban quản lý</p>\n</div>",
        "options": {}
      },
      "id": "ba868106-c3d5-42c3-8d4d-6d98acf1e251",
      "name": "Email phản hồi khách hàng",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1248,
        400
      ],
      "webhookId": "ce3cfbba-a3a5-4c7b-b6a6-00d60fcc7057"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Xác nhận tiếp nhận sự cố - Phòng {{ $json.maPhong }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  <h2 style=\"color: #1976d2;\">✅ Đã ghi nhận sự cố</h2>\n  <p>Kính gửi <strong>{{ $json.tenKhach }}</strong>,</p>\n  <p>Chúng tôi đã nhận được báo cáo sự cố từ phòng <strong>{{ $json.maPhong }}</strong>.</p>\n  <div style=\"background: #e3f2fd; padding: 15px; border-left: 4px solid #1976d2; margin: 20px 0;\">\n    <p><strong>Loại sự cố:</strong> {{ $json.loaiSuCo }}</p>\n    <p><strong>Mô tả:</strong> {{ $json.moTa }}</p>\n  </div>\n  <p>🔧 Thợ sửa chữa sẽ liên hệ và đến trong vòng <strong>24 giờ tới</strong>.</p>\n  <p>Cảm ơn bạn đã thông báo!</p>\n  <hr style=\"border: none; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #666;\">Trân trọng,<br>Ban quản lý</p>\n</div>",
        "options": {}
      },
      "id": "186b82cd-17ad-44ab-b599-18a27da8d29d",
      "name": "Email phản hồi bình thường",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -1248,
        768
      ],
      "webhookId": "1f04fb70-2d7f-424f-aef3-7e034886ee7b"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bao-cao-su-co",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b9060506-8696-443f-83b2-61e6ce661559",
      "name": "Nhận báo cáo từ React",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2160,
        592
      ],
      "webhookId": "d7351124-7734-4f74-82e2-eb8c421cfaea"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "name",
          "value": "incidents"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tenKhach": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.tenKhach }}",
            "email": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.email }}",
            "maPhong": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.maPhong }}",
            "loaiSuCo": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.loaiSuCo }}",
            "mucDoKhanCap": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.mucDoKhanCap }}",
            "moTa": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.moTa }}",
            "ngayBaoCao": "={{ $('Chuẩn bị dữ liệu sự cố').item.json.ngayBaoCao }}"
          }
        },
        "options": {}
      },
      "id": "3ac46405-2fe7-4266-9e58-521076183065",
      "name": "Lưu vào PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1776,
        592
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Đã ghi nhận sự cố thành công\",\n  \"incidentId\": \"={{ $('Lưu vào PostgreSQL').item.json.id }}\"\n}",
        "options": {}
      },
      "id": "d9239d14-2fd2-4cf6-a679-a8029ba8e6a1",
      "name": "Trả response về React",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -496,
        608
      ]
    },
    {
      "parameters": {},
      "id": "3bd1838e-6c97-41fa-991f-887f50ebb819",
      "name": "Gộp kết quả email",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -832,
        608
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chuẩn bị dữ liệu sự cố": {
      "main": [
        [
          {
            "node": "Lưu vào PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra mức độ khẩn cấp": {
      "main": [
        [
          {
            "node": "Email phản hồi khách hàng",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email phản hồi bình thường",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email phản hồi khách hàng": {
      "main": [
        [
          {
            "node": "Thông báo Telegram khẩn cấp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email phản hồi bình thường": {
      "main": [
        [
          {
            "node": "Gộp kết quả email",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Nhận báo cáo từ React": {
      "main": [
        [
          {
            "node": "Chuẩn bị dữ liệu sự cố",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lưu vào PostgreSQL": {
      "main": [
        [
          {
            "node": "Kiểm tra mức độ khẩn cấp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thông báo Telegram khẩn cấp": {
      "main": [
        [
          {
            "node": "Gộp kết quả email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gộp kết quả email": {
      "main": [
        [
          {
            "node": "Trả response về React",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8ac9883b-938c-45bc-a230-5bea84752819",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d4d3941fa03660f2191a0040587b34a07a92851b9f178814059d6089332023eb"
  },
  "id": "WXCQ8vbCTsdNHGj9",
  "tags": []
}