workflow-3.json
{
  "name": "CLM workflow 3",
  "nodes": [
    {
      "parameters": {
        "path": "chot-hop-dong",
        "options": {}
      },
      "name": "Webhook (Tín hiệu)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -720,
        64
      ],
      "id": "516c04c6-746e-433c-a75e-f99edb93ac76",
      "webhookId": "a263eab8-343e-44ab-8afb-10ebb5ea1485"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zKD6o4LOC6eowdikdLgcHW_1Bpco9G-Nkm8KOxZ2bao",
          "mode": "list",
          "cachedResultName": "Database_thue_nha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zKD6o4LOC6eowdikdLgcHW_1Bpco9G-Nkm8KOxZ2bao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1216453348,
          "mode": "list",
          "cachedResultName": "Câu trả lời biểu mẫu 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zKD6o4LOC6eowdikdLgcHW_1Bpco9G-Nkm8KOxZ2bao/edit#gid=1216453348"
        },
        "options": {}
      },
      "name": "Lookup Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -512,
        64
      ],
      "id": "021ab559-a4a7-4981-a560-57157fcfacb7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rlY44zPZTuNO9u8R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Trạng thái'] }}",
              "value2": "Đã gửi Email"
            }
          ]
        }
      },
      "name": "Kiểm tra điều kiện",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -304,
        64
      ],
      "id": "2ba63352-c2b1-43ce-b835-169f8ff517bd"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Tín hiệu)": {
      "main": [
        [
          {
            "node": "Lookup Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Sheet": {
      "main": [
        [
          {
            "node": "Kiểm tra điều kiện",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra điều kiện": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c135af81-f44c-4717-afc6-faaeaa48ffca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75d878436d3383106d83217020ad7d834403a7cfc2e381de67c81a832ea2ab20"
  },
  "id": "8gY1u4LUK6tzD7uIWLxkU",
  "tags": []
}