workflow-1-main.json
{
  "name": "CLM",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1zKD6o4LOC6eowdikdLgcHW_1Bpco9G-Nkm8KOxZ2bao",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": 1216453348,
          "mode": "list"
        },
        "event": "rowAdded",
        "options": {}
      },
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        128,
        -48
      ],
      "id": "efafa802-63c6-43c9-bddd-f1e044a96d15",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "UZtgGKSQm5KlEnAr",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "GiaThue_Dep",
              "value": "={{ $json[\"Giá thuê phòng\"].toLocaleString('vi-VN') }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "TienCoc_Dep",
              "value": "={{ $json[\"Tiền đặt cọc (VNĐ)\"].toLocaleString('vi-VN') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -48
      ],
      "id": "d50e1f70-d841-49f5-97e9-b6ac6ac5ea5b"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1agi4ZVt9OINuSBRNZ6w4ncANOgd2sQIXRg-PuExhHmU",
          "mode": "id"
        },
        "name": "=Hợp đồng thuê nhà-{{ $json['Họ và tên người thuê'] }}",
        "options": {}
      },
      "name": "Copy file",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        528,
        -48
      ],
      "id": "dfc5ecc8-fe14-4ff2-befa-2727a3127146",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Once07HNrKpGiyy7",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{HoTen}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json['Họ và tên người thuê'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{CCCD}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json['Số CCCD / CMND'].toString() }}"
            },
            {
              "action": "replaceAll",
              "text": "{{GiaThue_Dep}}",
              "replaceText": "={{ $('Edit Fields').item.json['GiaThue_Dep'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{TienCoc_Dep}}",
              "replaceText": "={{ $('Edit Fields').item.json['TienCoc_Dep'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{NgaySinh}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json['Ngày tháng năm sinh'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{NgayCap}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json['Ngày cấp CCCD'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{NoiCap}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json['Nơi cấp'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Phong}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json['Phòng số'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{ThoiHan}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json['Thời hạn thuê'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{NgayBatDau}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json['Ngày bắt đầu tính tiền'] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{SDT}}",
              "replaceText": "={{ $('Google Sheets Trigger').item.json['Số điện thoại'] }}"
            }
          ]
        }
      },
      "name": "Update a document",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        736,
        -48
      ],
      "id": "a33ebbf1-4020-456d-bb66-6bbbcee491aa",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "8OAQ4nKo6Dv3Div6",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f3ce90b5-50a2-4a21-a379-b5d5f69ced3c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75d878436d3383106d83217020ad7d834403a7cfc2e381de67c81a832ea2ab20"
  },
  "id": "i5nKO7aBizMrVWiYJv6nl",
  "tags": []
}