workflow-2.json
{
  "name": "CLM workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VSdoBTn7NOTG4mfyDKfH4le6Z3gRNWlM",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "name": "Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "2c6bbaf2-70e9-4eb9-9532-6d88f45f266b",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Once07HNrKpGiyy7",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json['Email nhận hợp đồng'] }}",
        "subject": "Hợp đồng thuê phòng của bạn",
        "message": "Chào bạn, đính kèm là hợp đồng thuê phòng bản PDF nhé.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "name": "Send Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        416,
        64
      ],
      "id": "eef2e154-330a-4bb4-b151-77b71ca96637",
      "webhookId": "05b3d898-b315-4eaa-81d0-1ec5a4080722",
      "credentials": {
        "gmailOAuth2": {
          "id": "PDjIrqCaJnff5pye",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Drive Trigger').item.json.name }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1cef60zvdLf7igFjNF_FPb-ndoYApAKS4",
          "mode": "id"
        },
        "options": {}
      },
      "name": "Save PDF to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        -128
      ],
      "id": "a3800d98-b1ba-4b6c-813a-8a151bf3d9ac",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Once07HNrKpGiyy7",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Drive Trigger').item.json.id }}/export",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mimeType",
              "value": "application/pdf"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "d00b9cd0-564e-4adb-8e39-d5590d8c05b0",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Once07HNrKpGiyy7",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1zKD6o4LOC6eowdikdLgcHW_1Bpco9G-Nkm8KOxZ2bao",
          "mode": "list",
          "cachedResultName": "Database_thue_nha",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zKD6o4LOC6eowdikdLgcHW_1Bpco9G-Nkm8KOxZ2bao/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1216453348,
          "mode": "list",
          "cachedResultName": "Câu trả lời biểu mẫu 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1zKD6o4LOC6eowdikdLgcHW_1Bpco9G-Nkm8KOxZ2bao/edit#gid=1216453348"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Họ và tên người thuê",
              "lookupValue": "={{ $('Drive Trigger').item.json.name.replace('Hợp đồng thuê nhà-', '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        32,
        0
      ],
      "id": "6f90214c-cdfd-456d-8238-d8fa562f201b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rlY44zPZTuNO9u8R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "ID_CUA_BAN",
        "text": "✅ Đã gửi email hợp đồng PDF cho khách!",
        "additionalFields": {}
      },
      "name": "Telegram Log",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        816,
        -32
      ],
      "id": "913a2b4e-0f53-4812-afaf-06ff0b155e45",
      "webhookId": "e2664a90-6e99-4477-a556-827fa3d383fa"
    }
  ],
  "pinData": {},
  "connections": {
    "Drive Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        []
      ]
    },
    "Save PDF to Drive": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Save PDF to Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7f4338a6-74c0-4653-8fab-edc41840a678",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75d878436d3383106d83217020ad7d834403a7cfc2e381de67c81a832ea2ab20"
  },
  "id": "TzBH5JkWi3rOjbo1Asi3J",
  "tags": []
}