workflow 2.json
{
  "name": "CLM workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VSdoBTn7NOTG4mfyDKfH4le6Z3gRNWlM",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "name": "Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2c6bbaf2-70e9-4eb9-9532-6d88f45f266b",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Once07HNrKpGiyy7",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Drive Trigger').item.json.name }}.pdf",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1cef60zvdLf7igFjNF_FPb-ndoYApAKS4",
          "mode": "id"
        },
        "options": {}
      },
      "name": "Save PDF to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "a3800d98-b1ba-4b6c-813a-8a151bf3d9ac",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Once07HNrKpGiyy7",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $('Drive Trigger').item.json.id }}/export",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "mimeType",
              "value": "application/pdf"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "d00b9cd0-564e-4adb-8e39-d5590d8c05b0",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Once07HNrKpGiyy7",
          "name": "Google Drive account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Drive Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save PDF to Drive": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Save PDF to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cfc21816-7b8d-4115-8490-33f41ad869c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "75d878436d3383106d83217020ad7d834403a7cfc2e381de67c81a832ea2ab20"
  },
  "id": "TzBH5JkWi3rOjbo1Asi3J",
  "tags": []
}